.btn--default {
  background-color: #3ED2F0; }
  .btn--default-empty {
    color: #3ED2F0;
    border: 1px #3ED2F0 solid;
    background-color: #FBFBFC; }

.btn--success {
  background-color: #78d07d; }
  .btn--success-empty {
    color: #78d07d;
    border: 1px #78d07d solid;
    background-color: #FBFBFC; }

.btn--error {
  background-color: #c45c67; }
  .btn--error-empty {
    color: #c45c67;
    border: 1px #c45c67 solid;
    background-color: #FBFBFC; }

.btn--warning {
  background-color: #cd9321; }
  .btn--warning-empty {
    color: #cd9321;
    border: 1px #cd9321 solid;
    background-color: #FBFBFC; }

.btn--info {
  background-color: #49bad5; }
  .btn--info-empty {
    color: #49bad5;
    border: 1px #49bad5 solid;
    background-color: #FBFBFC; }

.btn--disabled {
  background-color: #BACCD2; }
  .btn--disabled-empty {
    color: #BACCD2;
    border: 1px #BACCD2 solid;
    background-color: #FBFBFC; }

@media (min-width: 769px) {
  [class^="btn--"] {
    width: auto;
    display: inline-block; } }

@media (min-width: 1px) and (max-width: 768px) {
  [class^="btn--"] {
    width: 100%;
    color: blue; } }
