.alert {
  padding: $alert-padding-y 0 $alert-padding-y 2.875rem;
  background-color: $white;
  position: relative;
  color: $body-color;

  &::before {
    @include use-material-icon();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.875rem;
    height: 100%;
    text-align: center;
    font-size: 1.563rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  p {
    font-size: $font-size-base;
    margin: 0;
  }

  > * {
    padding: 0 $alert-padding-x;
  }

  @include close-button(.625rem);

  &.medium-alert {
    p {
      font-size: .75rem;
    }
  }

  &.expandable-alert {
    .read-more {
      @extend .close;
      font-size: $font-size-base;
      line-height: 1.375rem;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    .alert-more {
      color: $medium-gray;
      margin: 1.375rem 0 .75rem 0;

      p {
        color: inherit;
        font-size: .75rem;
      }
    }
  }
}

.alert-info {
  &::before {
    content: '\E88F';
    background-color: $notice;
    color: theme-color('info')
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus {
    color: theme-color('info')
  }
}

.alert-warning {
  &::before {
    content: '\E001';
    background-color: $warning-hover;
    color: theme-color('warning')
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus  {
    color: theme-color('warning')
  }
}

.alert-danger {
  &::before {
    content: '\E001';
    background-color: $danger-hover;
    color: theme-color('danger');
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus  {
    color: theme-color('danger');
  }
}
