$component-name: alert !default;

.#{$component-name} {
  position: relative;
  padding: $alert-padding-y 15px $alert-padding-y 2.875rem;
  color: $gray-700;
  background-color: $white;
  @include border-radius(5px);

  a {
    font-weight: 600;
    color: $gray-700;
    text-decoration: underline;
    @include transition(.25s ease-out);

    &:hover {
      opacity: .6;
    }
  }

  &::before {
    @include use-material-icon();
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.563rem;
    text-align: center;
  }

  &.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 8px 16px 0 rgba(#000, .1);

    &::before {
      content: none;
    }

    p,
    a {
      color: $white;
    }

    .close {
      margin-right: 0;
    }

    a {
      font-weight: 600;
    }

    &-fixed-right,
    &-fixed-left {
      position: fixed;
      bottom: 20px;
      animation-name: fromTop;
      animation-duration: .5s;
    }

    &-fixed-left {
      left: 10vh;
    }

    &-fixed-right {
      right: 10vh;
    }
  }

  .close {
    margin-left: 20px;
    line-height: .8;
  }

  & &-action {
    margin-left: 15px;
  }

  p,
  ul {
    margin: 0;
    font-size: $font-size-base;
  }

  > * {
    padding: 0 $alert-padding-x;
  }

  // make bullet points visible
  > ul,
  > ol {
    margin-left: 1.5rem;
  }

  @include close-button(.625rem);

  &.medium-alert {
    p {
      font-size: $font-size-sm;
    }
  }

  &.expandable-alert {
    .alert-text {
      font-weight: 600;
      color: $gray-700;
    }

    .read-more {
      @extend .close;
      float: inherit;
      font-size: $font-size-base;
      line-height: 1.375rem;
      color: $primary;
      opacity: 1;

      &-container {
        text-align: right;
      }

      &:hover {
        opacity: .8;
      }

      &:focus {
        outline: none;
      }
    }

    .#{$component-name}-more {
      color: $gray-700;
      padding: {
        top: 1.375rem;
        bottom: .75rem;
      }

      p {
        font-size: $font-size-sm;
        color: inherit;
      }
    }
  }
}

@each $color, $value in $theme-alerts-icons {
  .#{$component-name}-#{$color} {
    background-color: theme-color-background($color);
    border: 1px solid theme-color($color);

    &.toast {
      color: $white;
      background: theme-color($color);

      .close,
      &.expandable-alert .read-more,
      &.expandable-alert .read-more:hover,
      &.expandable-alert .read-more:focus {
        color: $white;
      }
    }

    &::before {
      color: map-get($theme-colors-icons, $color);
      content: $value;
    }

    .close {
      color: theme-color($color);
    }

    &.expandable-alert .read-more,
    &.expandable-alert .read-more:hover {
      color: $gray-750;
    }
  }
}
