$component-name: alert !default;

.#{$component-name} {
  padding: $alert-padding-y 15px $alert-padding-y 2.875rem;
  background-color: $white;
  position: relative;
  color: $gray-700;
  @include border-radius(5px);

  &::before {
    @include use-material-icon();
    position: absolute;
    left: 15px;
    top: 10px;
    text-align: center;
    font-size: 1.563rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &.toast {
    box-shadow: 0 8px 16px 0 rgba(black, 0.1);
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;

    &::before {
      content: none;
    }

    p,
    a {
      color: $white;
    }

    .close {
      margin-right: 0;
    }

    a {
      font-weight: 600;
    }

    &-fixed-right,
    &-fixed-left {
      position: fixed;
      bottom: 20px;
      animation-name: fromTop;
      animation-duration: 0.5s;
    }

    &-fixed-left {
      left: 10vh;
    }

    &-fixed-right {
      right: 10vh;
    }
  }

  .close {
    margin-left: 20px;
    line-height: 0.8;
  }

  & &-action {
    margin-left: 15px;
  }

  p,
  ul {
    font-size: $font-size-base;
    margin: 0;
  }

  > * {
    padding: 0 $alert-padding-x;
  }

  // make bullet points visible
  > ul,
  > ol {
    margin-left: 1.5rem;
  }

  @include close-button(0.625rem);

  &.medium-alert {
    p {
      font-size: $font-size-sm;
    }
  }

  &.expandable-alert {
    .read-more {
      @extend .close;
      font-size: $font-size-base;
      line-height: 1.375rem;
      float: inherit;
      color: $primary;
      opacity: 1;

      &-container {
        text-align: right;
      }

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
    }

    .#{$component-name}-more {
      color: $medium-gray;
      padding: {
        top: 1.375rem;
        bottom: 0.75rem;
      }

      p {
        color: inherit;
        font-size: $font-size-sm;
      }
    }
  }
}

@each $color, $value in $theme-alerts-icons {
  .#{$component-name}-#{$color} {
    background-color: theme-color-background($color);
    border: none;

    &.toast {
      background: theme-color($color);
      color: $white;

      .close,
      &.expandable-alert .read-more,
      &.expandable-alert .read-more:hover,
      &.expandable-alert .read-more:focus {
        color: $white;
      }
    }

    &::before {
      content: $value;
      color: map-get($theme-colors-icons, $color);
    }

    .close {
      color: theme-color($color);
    }

    &.expandable-alert .read-more,
    &.expandable-alert .read-more:hover {
      color: $gray-750;
    }
  }
}
