$component-name: alert !default;

.#{$component-name} {
  padding: $alert-padding-y 0 $alert-padding-y 2.875rem;
  background-color: $white;
  position: relative;
  color: $body-color;
  @include border-radius(5px);

  &::before {
    @include use-material-icon();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.875rem;
    height: 100%;
    text-align: center;
    font-size: 1.563rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &.toast {
    box-shadow: 0 8px 16px 0 rgba(black, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: none;
    };

    p, a {
      color: $white;
    }

    a {
      font-weight: 600;
    }

    .close {
      margin-right: 0;
      margin-left: 20px;
    }

    &-fixed-right,
    &-fixed-left {
      position: fixed;
      bottom: 20px;
      animation-name: fromTop;
      animation-duration: .5s;
    }

    &-fixed-left {
      left: 10vh;
    }

    &-fixed-right {
      right: 10vh;
    }
  }

  .close {
    line-height: 0.8;
  }

  & &-action {
    margin-left: 15px;
  }

  p,
  ul {
    font-size: $font-size-base;
    margin: 0;
  }

  > * {
    padding: 0 $alert-padding-x;
  }

  // make bullet points visible
  > ul,
  > ol {
    margin-left: 1.5rem;
  }

  @include close-button(.625rem);

  &.medium-alert {
    p {
      font-size: $font-size-sm;
    }
  }

  &.expandable-alert {
    .read-more {
      @extend .close;
      font-size: $font-size-base;
      line-height: 1.375rem;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    .#{$component-name}-more {
      color: $medium-gray;
      padding: {
        top: 1.375rem;
        bottom: .75rem;
      }

      p {
        color: inherit;
        font-size: $font-size-sm;
      }
    }
  }
}

@each $color, $value in $theme-alerts-icons {
  .#{$component-name}-#{$color} {
    border-color: theme-color($color);

    &.toast {
      background: theme-color($color);
      color: $white;

      .close,
      &.expandable-alert .read-more,
      &.expandable-alert .read-more:hover,
      &.expandable-alert .read-more:focus {
        color: $white;
      }
    }

    &::before {
      content: $value;
      background-color: theme-color-background($color);
      color: theme-color($color);
    }

    .close,
    &.expandable-alert .read-more,
    &.expandable-alert .read-more:hover,
    &.expandable-alert .read-more:focus  {
      color: theme-color($color);
    }
  }
}