.breadcrumb {
  margin: 0;
  font-size: .75rem;

  li {

    & + li::before {
      padding-right: 0;
      padding-left: .1875rem;
    }

    > a {
      color: $dark-gray;

      &:hover {
        @extend a:hover;
      }
    }
  }
}

.breadcrumb-item {
  font-weight: $font-weight-normal;
  color: $dark-gray;
}
