.breadcrumb {
  margin: 0;
  font-size: 0.75rem;

  li {
    & + li::before {
      padding-right: 0;
      padding-left: 0.1875rem;
    }

    > a {
      @extend a;
      font-weight: 600;
      color: $primary;
    }
  }
}

.breadcrumb-item {
  font-weight: $font-weight-normal;
  color: $dark-gray;

  + .breadcrumb-item::before {
    content: ">";
  }
}
