.breadcrumb {
  margin: 0;
  font-size: .75rem;

  li {
    & + li::before {
      padding-right: 0;
      padding-left: .1875rem;
    }

    > a {
      font-weight: 600;
      color: $primary;

      &:hover {
        @extend a:hover;
      }
    }
  }
}

.breadcrumb-item {
  font-weight: $font-weight-normal;
  color: $dark-gray;

  + .breadcrumb-item::before {
    content: ">";
  }
}
