.btn {
  text-transform: uppercase;
  letter-spacing: .1em;
  border-width: .125rem;
  font-size: $font-size-sm;

  @include hover-focus {
    cursor: pointer;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  &.btn-sm {
    font-weight: $font-weight-normal;
    text-transform: inherit;
    line-height: .9rem;
  }

  &.btn-lg {
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
  }

  > .material-icons {
    vertical-align: middle;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include ps-button-variant($value, $value, theme-color-hover($color), theme-color-hover($color), $color);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include ps-button-outline-variant($value, #fff, $color);
  }
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}
