.btn {
  border-width: $border-width;
  padding: 0.375rem 0.838rem;
  font-weight: $font-weight-semibold;
  border-radius: $btn-border-radius;
  white-space: nowrap;

  @include hover-focus {
    cursor: pointer;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  > .material-icons {
    vertical-align: middle;
    font-size: 1.25rem;
    margin-top: -0.083em;
  }
}

.btn-sm {
  padding: 0.313rem 0.625rem;

  > .material-icons {
    font-size: $font-size-lg;
  }
}

.btn-lg {
  padding: 0.438rem 0.838rem;

  > .material-icons {
    font-size: 1.5rem;
    line-height: 1rem;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include ps-button-variant(
      $value,
      $value,
      theme-color-hover($color),
      theme-color-hover($color),
      theme-color-active($color),
      theme-color-active($color),
      $color
    );
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include ps-button-outline-variant($value, #fff, $color);
  }
}

// special case for secondary outline button
.btn-outline-secondary {
  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled).hover {
    color: $blue;
    background-color: $white;
    border-color: $primary;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $primary-active;
    background-color: $secondary-active;
    border-color: $primary-hover; // <-- that's "hover" and not "active"
  }
}
