.btn-group {
  /* stylelint-disable-next-line */
  input[type="radio"] {
    display: none;
  }

  .btn.dropdown-toggle-split {
    // fix spacing to the left of chevron in split dropdown due to class order (.btn overrides it because it's load after)
    @extend .dropdown-toggle-split;

    // add spacing between button and dropdown button in split dropdown buttons,
    // except on outline buttons (which already have a border separating them)
    &:not([class*="outline"]) {
      margin-left: $border-width;
    }

    // increased horizontal spacing on the dropdown button of large split dropdowns
    &.btn-lg {
      padding-right: 0.563rem;
      padding-left: 0.563rem;
    }
  }

  // collapse borders on split buttons with outline
  .btn.dropdown-toggle-split[class*="outline"] {
    margin-left: -$border-width;
  }
}
