$component-name: card;

.#{$component-name} {
  padding: 10px;
  transition: .25s ease-out;

  &:hover {
    @include box-shadow(0 8px 16px 0 rgba(0, 0, 0, .1));
  }

  .list-group-item {
    padding: $card-spacer-y $card-spacer-x;
  }

  & &-body {
    padding: 0;

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  & &-img {
    &, &-top {
      @include border-radius(0);
    }
  }

  & &-title {
    margin: 0.625rem 0;
    font-size: 14px;
    font-weight: 700;
    color: $gray-750;
  }

  & &-button {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: $primary;
  }

  & &-subtitle {
    font-size: 14px;
    font-weight: 700;
    color: $gray-550;
  }
}
