/* stylelint-disable-next-line */
$component-name: ps-card;

.#{$component-name} {
  padding: var(--#{$cdk}size-10);
  transition: var(--#{$cdk}default-transition);

  &:hover {
    box-shadow: var(--#{$cdk}box-shadow-md);
  }

  .list-group-item {
    padding: $card-spacer-y $card-spacer-x;
  }

  & &-body {
    padding: 0;

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  & &-img {
    &,
    &-top {
      width: 100%;
    }
  }

  & &-title {
    margin: var(--#{$cdk}size-10) 0;
    font-size: var(--#{$cdk}size-14);
    font-weight: 600;
    color: var(--#{$cdk}primary-700);
  }

  & &-button {
    margin: 0;
    font-size: var(--#{$cdk}size-14);
    font-weight: 600;
    color: var(--#{$cdk}primary-800);
  }

  & &-subtitle {
    font-size: var(--#{$cdk}size-14);
    font-weight: 600;
    color: var(--#{$cdk}primary-500);
  }
}

// Cards
.card {
  &-header,
  &-header-title {
    font-size: var(--#{$cdk}size-24);
    font-weight: 600;
    border: none;
  }
}
