.custom-file,
.custom-select {
  width: 100%;
  height: $input-height;
}

.custom-file {
  .custom-file-input {
    height: $input-height;

    &:focus ~ .custom-file-label {
      border-color: theme-color-hover('primary');
    }

    &.disabled,
    :disabled {
      cursor: $cursor-disabled;
    }

    &.disabled ~ .custom-file-label,
    :disabled ~ .custom-file-label {
      color: $custom-select-disabled-color;
      cursor: $cursor-disabled;
      background-color: $custom-select-disabled-bg;

      &:after {
        @extend .btn-primary:disabled;
      }
    }
  }
  .custom-file-label {
    &:after {
      font-weight: $font-weight-semibold;

      @include hover-focus {
        cursor: pointer;
      }

      $color: map-get($theme-colors, 'primary');
      @include ps-button-variant(
                      $color,
                      $color,
                      theme-color-hover($color),
                      theme-color-hover($color),
                      theme-color-active($color),
                      theme-color-active($color),
                      $color
      );

      // make the button overlap the border
      top: $input-border-width * -1;
      right: $input-border-width * -1;
      bottom: $input-border-width * -1;
      height: auto;
    }
  }
}

.form-select {
  position: relative;
}
