.custom-file,
.custom-select {
  width: 100%;
  height: var(--#{$cdk}size-40);
  box-shadow: none;

  &:focus {
    outline: 2px solid var(--#{$cdk}blue-500);
    @include box-shadow(none);
  }
}

.custom-file {
  .custom-file-input {
    height: var(--#{$cdk}size-40);
    cursor: pointer;

    &:focus ~ .custom-file-label {
      border-color: theme-color-hover("primary");
    }

    &.disabled,
    :disabled {
      cursor: $cursor-disabled;
    }

    &.disabled ~ .custom-file-label,
    :disabled ~ .custom-file-label {
      color: $custom-select-disabled-color;
      cursor: $cursor-disabled;
      background-color: $custom-select-disabled-bg;

      &::after {
        color: $custom-select-disabled-color;
        background-color: transparent;
        border-color: var(--#{$cdk}primary-400);
      }
    }
  }

  .custom-file-label {
    height: var(--#{$cdk}size-40);
    padding: var(--#{$cdk}size-8) var(--#{$cdk}size-16);
    cursor: pointer;

    &::after {

      // make the button overlap the border
      top: $input-border-width * -1;
      right: $input-border-width * -1;
      bottom: $input-border-width * -1;
      height: auto;
      font-weight: $font-weight-semibold;
      line-height: var(--#{$cdk}size-28);

      @include hover-focus () {
        cursor: pointer;
      }

      $color: map-get($theme-colors, "primary");
      @include ps-button-variant(
        $color,
        $color,
        theme-color-hover($color),
        theme-color-hover($color),
        theme-color-active($color),
        theme-color-active($color),
        $color
      );
    }
  }
}

.form-select {
  position: relative;
}
