.dropdown,
.dropup {
  display: inline-block;
}

.dropup {
  .dropdown-toggle {
    &::after {
      display: inline-block;
      border: none;
      margin-top: inherit;
      content: '\E316';
    }
  }
}

.dropdown-toggle {
  &::after {
    @include use-material-icon();
    content: '\E313';
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    line-height: 0;
    font-weight: $font-weight-bold;
  }

  &.btn-sm {
    &::after {
      font-weight: $font-weight-normal;
    }
  }
}

.dropdown-menu {
  top: 103%;
  border: solid $border-width #b9cdd2;

  &.menu-sm {
    .dropdown-item {
      font-size: $font-size-sm;

      > .material-icons {
        font-size: $font-size-base;
        vertical-align: sub;
      }
    }
  }
}

.dropdown-divider {
  margin: .2rem 0;
}

.dropdown-item {
  &:not(:last-child) {
    border-bottom: solid $border-width $light-gray;
  }

  > .material-icons {
    font-size: 1.125rem;
    vertical-align: middle;
  }
}
