.dropdown-toggle,
.dropup .dropdown-toggle {
  padding-right: $input-btn-padding-x * .75;

  // use material icons for dropdown and dropup
  &::after {
    @include material-icon('expand_more');
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    line-height: 0;
  }
}

// dropup icon
.dropup {
  .dropdown-toggle {
    &::after {
      content: 'expand_less';
    }
  }
}

// add a bigger margin between the text and the dropdown icon
.dropdown-toggle:not(.dropdown-toggle-split) {
  &:after {
    margin-left: 0.625rem;
  }
}

.dropdown-menu {
  border: solid $border-width #bbcdd2;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);

  color: #576c72;
  padding: 0.313rem 0;
  min-width: 15.625rem;

  .material-icons {
    color: $medium-gray;
    font-size: 1.125rem;
    vertical-align: text-bottom;
    padding-right: 0.5rem;
  }

  > .dropdown-item {
    color: inherit;
    line-height: normal;
    border-bottom: 0;
    padding: 0.375rem 0.938rem {
      right: 1.5rem;
    };

    &:hover {
      color: $white;
      background-color: $primary;

      .material-icons {
        color: $white;
      }
    }
  }

  > .dropdown-divider {
    margin: 0.313rem 0;
  }
}
