// ==========================================================================
// Extends
// ==========================================================================

// BEM selectors

@mixin e($element) {
    &__#{$element} {
    @content;
}
}

@mixin m($modifier) {
    &--#{$modifier} {
    @content;
}
}

// Generate modifier color classes

@mixin ui-colors($map, $p-el:null) {
    @each $theme, $color in $map {
        @include m($theme) {

            color: $color;
            text-decoration: initial;
            display:inline-block;
            border-bottom:1px $color solid;

            &:hover {
                color: $color;
                text-decoration: initial;
                display:inline-block;
                border-bottom:1px $color solid;
                cursor: pointer;
                @if $theme == 'disabled' {
                    cursor: url("http://192.168.10.171/public/PrestaKit/img/not-allowed.png") 4 12, auto;                
                }
            }

            // If an $p-el value is passed, generate pseudo-element bg colors. Used on progbars.
            @if $p-el {
                &:after {
                    background-color: lighten($color, 8%);
                } 
            }
        }
    }
}

// Generate modifier color classes

@mixin ui-bcolors($map, $p-el:null) {
    @each $theme, $color in $map {
        @include m($theme) {
            background-color: $color;

            
            &-empty {
                color:$color;
                border: 1px $color solid;
                background-color: $white;
            }

            @if $theme == 'disabled' {
                cursor: url("http://192.168.10.171/public/PrestaKit/img/not-allowed.png") 4 12, auto;                
                &-empty {
                    cursor: url("http://192.168.10.171/public/PrestaKit/img/not-allowed.png") 4 12, auto;                                    
                }
            }

            // If an $p-el value is passed, generate pseudo-element bg colors. Used on progbars.
            @if $p-el {
                &:after {
                    background-color: lighten($color, 8%);
                } 
            }
        }

    }
}
