.btn-floating {
  position: fixed;
  right: var(--#{$cdk}size-16);
  bottom: var(--#{$cdk}size-16);
  z-index: 999;

  > .btn {
    position: relative;
    z-index: 1;
    justify-content: center;
    width: var(--#{$cdk}size-56);
    height: var(--#{$cdk}size-56);
    padding: var(--#{$cdk}size-8);
    transition: var(--#{$cdk}default-transition);
    @include border-radius(100%);

    &:not(.collapsed) {
      background: var(--#{$cdk}red-500);
      border-color: var(--#{$cdk}red-500);

      i {
        transform: rotate(45deg);
      }
    }

    i {
      font-size: var(--#{$cdk}size-28);
      transition: var(--#{$cdk}default-transition);
    }
  }

  & &-container {
    position: absolute;
    right: 0;
    bottom: calc(100% + var(--#{$cdk}size-16));
    transition: var(--#{$cdk}default-transition);

    &.collapsing {
      .btn-floating-menu {
        &::after {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }

  & &-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--#{$cdk}size-320);
    overflow: hidden;

    a,
    button {
      position: relative;
      z-index: 1;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: var(--#{$cdk}white);
      transition: var(--#{$cdk}default-transition);
    }

    &::after {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      content: "";
      background: rgba(map-get($map: $cdk-primary, $key: "primary-800"), 0.8);
      opacity: 1;
      transition: var(--#{$cdk}default-transition);
    }
  }

  & &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--#{$cdk}size-8) var(--#{$cdk}size-12);
    font-weight: 500;
    color: var(--#{$cdk}primary-700);
    transition: var(--#{$cdk}default-transition);

    .material-icon {
      margin-top: 0;
    }

    &:hover {
      color: var(--#{$cdk}white);
      background: var(--#{$cdk}primary-800);
    }
  }
}
