.btn-floating {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 999;

  > .btn {
    position: relative;
    z-index: 1;
    width: 56px;
    height: 56px;
    padding: .5rem;
    font-size: 18px;
    @include border-radius(100%);
    @include transition(.25s ease-out);

    &:not(.collapsed) {
      background: $red;
      border-color: $red;

      i {
        transform: rotate(45deg);
      }
    }

    i {
      @include transition(.25s ease-out);
    }
  }

  & &-container {
    position: absolute;
    right: 0;
    bottom: calc(100% + 1rem);
    @include transition(.25s ease-out);

    &.collapsing {
      .btn-floating-menu {
        &::after {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }

  & &-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20rem;
    overflow: hidden;
    @include border-radius(.5rem);

    a,
    button {
      position: relative;
      z-index: 1;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $white;
      @include border-radius(.5rem);
      @include transition(.25s ease-out);
    }

    &::after {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      content: "";
      background: rgba(0, 0, 0, .8);
      opacity: 1;
      @include transition(.25s ease-out);
    }
  }

  & &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem .75rem;
    font-weight: 500;
    color: $gray-750;
    @include transition(.25s ease-out);
    @include border-radius(0);

    .material-icon {
      margin-top: 0;
    }

    &:first-of-type {
      @include border-top-radius(.5rem);
    }

    &:last-of-type {
      @include border-bottom-radius(.5rem);
    }

    &:hover {
      color: $white;
      background: $primary;
    }
  }
}
