.form {
  &.form-background {
    padding: 2rem;
    background-color: $background-color;
  }
}

.form-control-label {
  margin-bottom: .3125rem;
  color: $dark-gray;
}

// help labels around form elements
.form-text {
  font-size: .75rem;
  color: $medium-gray;

  label + & {
    float: right;
  }
}

.form-control {
  padding: .375rem .4375rem;

  &[type="text"],
  &[type="number"] {
    &:hover,
    &:focus {
      background: $primary-lighten;
    }
  }

  &.disabled,
  :disabled {
    color: $medium-gray;
    cursor: $cursor-disabled;
  }
}

.form-control-lg {
  padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $dark-gray;
  }

  .form-control {
    padding-right: 1.5625rem;
    background-image: none;
  }

  &::after {
    @include material-icon("\E876");
    position: absolute;
    right: .3125rem;
    bottom: 1.8rem;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    vertical-align: middle;
  }

  &.form-group-lg {
    &::after {
      bottom: 1.875rem;
    }
  }
}

.has-success {
  &::after {
    color: theme-color("success");
    content: "\E876";
  }
}

.has-warning {
  &::after {
    color: theme-color("warning");
    content: "\E001";
  }
}

.has-danger {
  &::after {
    color: theme-color("danger");
    content: "\E000";
  }
}

$form-check-name: form-check;

.#{$form-check-name} {
  &.disabled,
  :disabled {
    .form-check-label {
      color: $medium-gray;
    }
  }

  &-radio {
    padding: 0;
    margin-bottom: 10px;

    .#{$form-check-name}-label {
      display: flex;
      align-items: center;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked {
      ~ .#{$form-check-name}-round {
        border-color: $primary;

        &::after {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }

    input:disabled {
      ~ .#{$form-check-name}-round {
        cursor: not-allowed;
      }
    }
  }

  &-round {
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    border: 2px solid $gray-450;
    margin-right: 10px;
    position: relative;
    transition: .25s ease-out;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      @include border-radius(50%);
      background: $primary;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transition: .25s ease-out;
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

@include ps-form-validation-state("valid", $form-feedback-valid-color);
@include ps-form-validation-state("invalid", $form-feedback-invalid-color);
@include ps-form-validation-state("warning", $form-feedback-warning-color);

.switch-input {
  @include ps-switch(20px, 40px, -2px, 16px);

  &.switch-input-lg {
    @include ps-switch(30px, 60px, -3px, 24px);
  }

  &.switch-input-sm {
    @include ps-switch(16px, 28px, -1px, 12px);
  }
}

.search {
  input::placeholder {
    font-style: italic;
  }
  &.search-with-icon {
    position: relative;
    input {
      padding-right: 1.6rem;
    }
    &::after {
      @include material-icon("\E8B6");
      position: absolute;
      top: 50%;
      right: .3125rem;
      margin-top: -(1.375rem / 2);
      font-size: 1.375rem;
      font-weight: $font-weight-normal;
      color: $medium-gray;
    }
  }
}
