.form {
  &.form-background {
    padding: 2rem;
    background-color: $background-color;
  }
}

.form-control-label {
  margin-bottom: 0.3125rem;
  color: $dark-gray;
}

// help labels around form elements
.form-text {
  font-size: 0.75rem;
  color: $medium-gray;

  label + & {
    float: right;
  }
}

.form-control {
  padding: 0.375rem 0.4375rem;
  min-height: $input-height;
  height: auto;

  &[type="text"],
  &[type="number"] {
    &:hover,
    &:focus {
      background-color: $primary-lighten;
    }
  }

  &.disabled,
  :disabled {
    color: $medium-gray;
    cursor: $cursor-disabled;
  }
}

.form-control-lg {
  padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $dark-gray;
  }

  .form-control {
    padding-right: 1.5625rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23f54c3e' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.has-success {
  &:not(.multiple) .form-control {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2370b580' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.has-warning {
  &:not(.multiple) .form-control {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23d9d701' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.has-danger {
  &:not(.multiple) .form-control {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23f54c3e' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.has-danger,
.has-success,
.has-warning {
  .form-control {
    background-repeat: no-repeat;
  }
}

$form-check-name: form-check;

.#{$form-check-name} {
  &.disabled,
  :disabled {
    .form-check-label {
      color: $medium-gray;
    }
  }

  &-radio {
    padding: 0;
    margin-bottom: 10px;

    .#{$form-check-name}-label {
      display: flex;
      align-items: center;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked {
      ~ .#{$form-check-name}-round {
        border-color: $primary;

        &::after {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }

    input:disabled {
      ~ .#{$form-check-name}-round {
        cursor: not-allowed;
      }
    }
  }

  &-round {
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    border: 2px solid $gray-450;
    margin-right: 10px;
    position: relative;
    transition: 0.25s ease-out;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      @include border-radius(50%);
      background: $primary;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transition: 0.25s ease-out;
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

@include ps-form-validation-state("valid", $form-feedback-valid-color);
@include ps-form-validation-state("invalid", $form-feedback-invalid-color);
@include ps-form-validation-state("warning", $form-feedback-warning-color);

.switch-input {
  @include ps-switch(20px, 40px, -2px, 16px);

  &.switch-input-lg {
    @include ps-switch(30px, 60px, -3px, 24px);
  }

  &.switch-input-sm {
    @include ps-switch(16px, 28px, -1px, 12px);
  }
}

.search {
  &.search-with-icon {
    position: relative;
    input {
      padding-right: 1.6rem;
    }
    &::after {
      @include material-icon("\E8B6");
      position: absolute;
      top: 50%;
      right: 0.3125rem;
      margin-top: -(1.375rem / 2);
      font-size: 1.375rem;
      font-weight: $font-weight-normal;
      color: $medium-gray;
    }
  }
}
