.form {
  &.form-background {
    padding: 2rem;
    background-color: $background-color;
  }
}

.form-control-label {
  margin-bottom: .3125rem;
  color: $dark-gray;
}

// help labels around form elements
.form-text {
  font-size: .75rem;
  color: $medium-gray;

  label + & {
    float: right;
  }
}

.form-control {
  padding: .375rem .4375rem;

  &[type="text"],
  &[type="number"] {
    &:hover,
    &:focus {
      background: $primary-lighten;
    }
  }

  &.disabled,
  :disabled {
    color: $medium-gray;
    cursor: $cursor-disabled;
  }
}

.form-control-lg {
  padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $dark-gray;
  }

  .form-control {
    padding-right: 1.5625rem;
    background-image: none;
  }

  &::after {
    @include material-icon("\E876");
    position: absolute;
    right: .3125rem;
    bottom: 1.8rem;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    vertical-align: middle;
  }

  &.form-group-lg {
    &::after {
      bottom: 1.875rem;
    }
  }
}

.has-success {
  &::after {
    color: theme-color("success");
    content: "\E876";
  }
}

.has-warning {
  &::after {
    color: theme-color("warning");
    content: "\E001";
  }
}

.has-danger {
  &::after {
    color: theme-color("danger");
    content: "\E000";
  }
}

.form-check {
  &.disabled,
  :disabled {
    .form-check-label {
      color: $medium-gray;
    }
  }
}

@include ps-form-validation-state("valid", $form-feedback-valid-color);
@include ps-form-validation-state("invalid", $form-feedback-invalid-color);
@include ps-form-validation-state("warning", $form-feedback-warning-color);

.switch-input {
  @include ps-switch(20px, 40px, -2px, 16px);

  &.switch-input-lg {
    @include ps-switch(30px, 60px, -3px, 24px);
  }

  &.switch-input-sm {
    @include ps-switch(16px, 28px, -1px, 12px);
  }
}

.search {
  input::placeholder {
    font-style: italic;
  }
  &.search-with-icon {
    position: relative;
    input {
      padding-right: 1.6rem;
    }
    &::after {
      @include material-icon("\E8B6");
      position: absolute;
      top: 50%;
      right: .3125rem;
      margin-top: -(1.375rem / 2);
      font-size: 1.375rem;
      font-weight: $font-weight-normal;
      color: $medium-gray;
    }
  }
}
