.form {
  &.form-background {
    background-color: $background-color;
    padding: 2rem;
  }
}

.form-control-label {
  margin-bottom: .3125rem;
  color: $dark-gray;
}

.form-text {
  float: right;
}

.form-control {
  &.disabled,
  :disabled {
    color: $medium-gray;
    cursor: $cursor-disabled;
  }
}

.form-control-lg {
  padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $dark-gray;
  }

  .form-control {
    background-image: none;
    padding-right: 1.5625rem;
  }

  &::after {
    @include use-material-icon();
    content: '\E876';
    font-size: 1.20rem;
    font-weight: $font-weight-normal;
    position: absolute;
    right: .3125rem;
    bottom: 1.8rem;
    vertical-align: middle;
  }

  &.form-group-lg {
    &::after {
      bottom: 2.125rem;
    }
  }
}

.has-success {
  &::after {
    content: '\E876';
    color: theme-color('success');
  }
}

.has-warning {
  &::after {
    content: '\E001';
    color: theme-color('warning');
  }
}

.has-danger {
  &::after {
    content: '\E001';
    color: theme-color('danger');
  }
}

.form-check {
  &.disabled,
  :disabled {
    .form-check-label {
      color: $medium-gray;
    }
  }
}

@include ps-form-validation-state('valid', $form-feedback-valid-color);
@include ps-form-validation-state('invalid', $form-feedback-invalid-color);
@include ps-form-validation-state('warning', $form-feedback-warning-color);
