.form {
  &.form-background {
    background-color: $background-color;
    padding: 2rem;
  }
}

.form-control-label {
  margin-bottom: .3125rem;
  color: $dark-gray;
}

// help labels around form elements
.form-text {
  color: $medium-gray;

  label + & {
    float: right;
  }
}

.form-control {
  padding: .375rem .4375rem;

  &.disabled,
  :disabled {
    color: $medium-gray;
    cursor: $cursor-disabled;
  }
}

.form-control-lg {
  padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $dark-gray;
  }

  .form-control {
    background-image: none;
    padding-right: 1.5625rem;
  }

  &::after {
    @include material-icon('\E876');
    font-size: 1.438rem;
    font-weight: $font-weight-normal;
    position: absolute;
    right: .3125rem;
    bottom: 1.813rem;
    vertical-align: middle;
  }

  &.form-group-lg {
    &::after {
      bottom: 1.875rem;
    }
  }
}

.has-success {
  &::after {
    content: '\E876';
    color: theme-color('success');
  }
}

.has-warning {
  &::after {
    content: '\E001';
    color: theme-color('warning');
  }
}

.has-danger {
  &::after {
    content: '\E001';
    color: theme-color('danger');
  }
}

.form-check {
  &.disabled,
  :disabled {
    .form-check-label {
      color: $medium-gray;
    }
  }
}

@include ps-form-validation-state('valid', $form-feedback-valid-color);
@include ps-form-validation-state('invalid', $form-feedback-invalid-color);
@include ps-form-validation-state('warning', $form-feedback-warning-color);

.switch-input {
  @include ps-switch(20px, 40px, -2px, 16px);

  &.switch-input-lg {
    @include ps-switch(30px, 60px, -3px, 24px);
  }

  &.switch-input-sm {
    @include ps-switch(16px, 28px, -1px, 12px);
  }
}

.search {
  input::placeholder {
    font-style: italic;
  }
  &.search-with-icon {
    position: relative;
    input[type="text"] {
      padding-right: 1.6rem;
    }
    &::after {
      @include material-icon('\E8B6');
      color: $medium-gray;
      font-size: 1.375rem;
      font-weight: $font-weight-normal;
      position: absolute;
      right: .3125rem;
      top: 50%;
      margin-top: -(1.375rem/2);
    }
  }
}
