// stylelint-disable-next-line
$component-name: growl;

.#{$component-name} {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--#{$cdk}size-64);
  color: var(--#{$cdk}primary-700);
  border-radius: 0;
  box-shadow: var(--#{$cdk}box-shadow-lg);
  opacity: 1;
  animation-name: fromLeft;
  animation-duration: 0.25s;

  &.#{$component-name}-medium {
    width: auto;
    max-width: 800px;
    padding: var(--#{$cdk}size-16);
    padding-right: var(--#{$cdk}size-64);
  }

  & &-close {
    position: absolute;
    top: 50%;
    right: var(--#{$cdk}size-18);
    float: initial;
    font-size: var(--#{$cdk}size-24);
    font-weight: 300;
    color: var(--#{$cdk}primary-800);
    transition: var(--#{$cdk}default-transition);
    transform: translateY(-60%);

    &:hover {
      color: var(--#{$cdk}primary-600);
    }
  }

  & &-title {
    display: none;
    min-width: 100%;
    margin-bottom: var(--#{$cdk}size-5);
    font-weight: 500;
  }

  & &-message {
    flex-grow: 1;
    font-size: var(--#{$cdk}size-14);
  }

  &.#{$component-name}-default {
    color: var(--#{$cdk}primary-800);
    background: map-get($alerts-background-colors, success);
    border: 1px solid map-get($alerts-second-colors, success);
  }

  &.#{$component-name}-error {
    color: var(--#{$cdk}primary-800);
    background: map-get($alerts-background-colors, danger);
    border: 1px solid map-get($alerts-second-colors, danger);
  }

  &.#{$component-name}-notice {
    color: var(--#{$cdk}primary-800);
    background: map-get($alerts-background-colors, info);
    border: 1px solid map-get($alerts-second-colors, info);
  }

  &.#{$component-name}-warning {
    color: var(--#{$cdk}primary-800);
    background: map-get($alerts-background-colors, warning);
    border: 1px solid map-get($alerts-second-colors, warning);
  }
}
