// stylelint-disable-next-line
$component-name: growl;

.#{$component-name} {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $gray-700;
  box-shadow: 0 8px 16px 0 rgba(#000, .1);
  opacity: 1;
  animation-name: fromLeft;
  animation-duration: .25s;

  &.#{$component-name}-medium {
    width: auto;
    max-width: 800px;
    padding: 15px;
  }

  & &-close {
    float: initial;
    margin-left: 10px;
    font-size: 1.125rem;
  }

  & &-title {
    min-width: 50%;
  }

  & &-message {
    flex-grow: 1;
    font-size: .875rem;
  }

  &.#{$component-name}-default {
    background: map-get($alerts-background-colors, success);
    border: 1px solid map-get($alerts-second-colors, success);
  }

  &.#{$component-name}-error {
    background: map-get($alerts-background-colors, danger);
    border: 1px solid map-get($alerts-second-colors, danger);
  }

  &.#{$component-name}-notice {
    background: map-get($alerts-background-colors, info);
    border: 1px solid map-get($alerts-second-colors, info);
  }

  &.#{$component-name}-warning {
    background: map-get($alerts-background-colors, warning);
    border: 1px solid map-get($alerts-second-colors, warning);
  }
}
