// stylelint-disable-next-line
$component-name: help-box;

.#{$component-name} {
  display: inline-flex;
  align-items: center;
  width: 1.4rem;
  height: 1.2rem;
  padding: 0;
  margin: 0 5px 2px;
  line-height: 19px;
  vertical-align: middle;
  cursor: pointer;

  i,
  &::after {
    font-family: "Material Icons", Arial, sans-serif;
    font-size: 19px;
    color: $primary;
    content: "\e88e";
    @include transition(0.25s ease-out);
  }

  &:hover {
    i,
    &::after {
      color: $help-box-hover;
    }
  }
}
