$component-name: help-box;

.#{$component-name} {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 19px;
  height: 1.2rem;
  width: 1.4rem;
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 2px;

  i,
  &::after {
    content: "\e88e";
    font-size: 19px;
    color: $primary;
    font-family: "Material Icons";
  }
}
