// stylelint-disable-next-line
$component-name: help-box;

.#{$component-name} {
  @extend .material-icons;
  margin-left: var(--#{$cdk}size-4);
  font-size: var(--#{$cdk}size-20);
  vertical-align: middle;
  cursor: pointer;

  i,
  &::after {
    font-size: var(--#{$cdk}size-20);
    line-height: var(--#{$cdk}size-20);
    color: var(--#{$cdk}primary-800);
    content: "\e887";
    transition: var(--#{$cdk}default-transition);
  }

  &:hover {
    i,
    &::after {
      color: var(--#{$cdk}primary-700);
    }
  }
}
