/* stylelint-disable */
@use "~@fontsource/ibm-plex-sans/scss/mixins" as IBM;

$material-symbols-font-path: '~material-symbols/';

@mixin setFont() {
  @if $local-font {
    
    // IBM Plex Sans
    @include IBM.faces(
      $subsets: all,
      $weights: (
        200,
        300,
        400,
        500,
        600,
        700,
      ),
      $styles: all
    );

    // Material Symbols Outlined
    @font-face {
      font-family: "Material Symbols Outlined";
      font-style: normal;
      font-display: swap;
      src: url("#{$material-symbols-font-path}material-symbols-outlined.woff2") format("woff2");
    }
  } @else {
    // IBM Plex Sans
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

    // Material Symbols Outlined
    @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0");
  }
}

@include setFont();

.material-icons {
  @include use-material-icon();
}
