// Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&subset=latin-ext");

// Material Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  @include use-material-icon();
}
