// stylelint-disable-next-line
$component-name: input-group;

.#{$component-name} {
  &-text {
    padding: var(--#{$cdk}size-6) var(--#{$cdk}size-10);
    font-size: $font-size-base;
    color: var(--#{$cdk}primary-600);

    .material-icons {
      font-size: $font-size-base;
    }

    // collapse borders
    + .input-group-text {
      margin-left: $input-border-width * -1;
    }
  }

  & &-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .form-control {
      padding: var(--#{$cdk}size-6) var(--#{$cdk}size-32) var(--#{$cdk}size-6) var(--#{$cdk}size-10);
    }

    + .#{$component-name}-append {
      > span {
        border-left: 0;
      }
    }
  }
}

.multiple {
  &.has-danger,
  &.has-warning,
  &.has-success {
    .valid-feedback,
    .warning-feedback,
    .invalid-feedback {
      display: block;
    }
  }
}
