.input-group {
  .input-group-addon {
    padding: $input-padding-y $input-padding-y * 1.5;
    font-size: $font-size-base;
    color: $medium-gray;

    .material-icons {
      font-size: $font-size-base;
    }
  }
}

.input-group-btn {
  border: $input-btn-border-width solid $input-group-btn-border-color;
}
