.list-group-item-action {
  &:active {
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
  }

  .badge {
    float: right;
  }

  &:hover,
  &.active {
    .badge {
      color: $body-color;
      background: var(--#{$cdk}white);
    }
  }
}
