$md-checkbox-margin: initial !default;
$md-checkbox-checked-color: $primary !default;
$md-checkbox-border-color: $gray-300 !default;
$md-checkbox-disabled-opacity: .5 !default;

$md-checkbox-size: 20px !default;
$md-checkbox-padding: 3px !default;

$md-checkmark-width: 2px !default;
$md-checkmark-color: $white !default;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  &.md-checkbox-inline {
    display: inline-block;
  }

  &.disabled {
    color: $gray-500;
  }

  label {
    padding-left: $md-checkbox-size + 5px;
    margin-bottom: 0;
  }

  .md-checkbox-control {
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    &::before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      cursor: pointer;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      @include border-radius(2px);
      @include transition(background .3s);
    }
  }

  [type="checkbox"] {
    display: none;
    outline: 0;

    &:disabled {
      + .md-checkbox-control {
        cursor: not-allowed;
        opacity: $md-checkbox-disabled-opacity;

        &::before {
          cursor: not-allowed;
        }
      }
    }
  }

  [type="checkbox"]:checked,
  .indeterminate {
    + .md-checkbox-control {
      &::before {
        background: $md-checkbox-checked-color;
        border: none;
      }
      &::after {
        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size / 10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;

        transform: rotate(-45deg);

        /*! @noflip */ // for RTL compatibility
      }
    }
  }

  .indeterminate {
    + .md-checkbox-control {
      &::after {
        top: ($md-checkbox-size / 2) - ($md-checkmark-width / 2);
        height: 0;
        transform: rotate(0);
      }
    }
  }
}
