$md-checkbox-margin: initial;
$md-checkbox-checked-color: $primary;
$md-checkbox-border-color: $gray-450;
$md-checkbox-disabled-opacity: .5;

$md-checkbox-size: 20px;
$md-checkbox-padding: 3px;

$md-checkmark-width: 2px;
$md-checkmark-color: $white;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;
  margin-bottom: 10px;

  &.md-checkbox-inline {
    display: inline-block;
  }

  &.disabled {
    color: $gray-500;
  }

  label {
    margin-bottom: 0;
    padding-left: $md-checkbox-size + 5px;
  }

  i.md-checkbox-control {
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    display: none;

    &:checked,
    &.indeterminate {
      + i.md-checkbox-control {
        &:before {
          background: $md-checkbox-checked-color;
          border: none;
        }
        &:after {
          $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

          transform: rotate(-45deg);

          top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
          left: $md-checkbox-padding;
          width: $md-checkmark-size;
          height: $md-checkmark-size / 2;

          border: $md-checkmark-width solid $md-checkmark-color;
          border-top-style: none;
          /*! @noflip */ // for RTL compatibility
          border-right-style: none;
        }
      }
    }

    &.indeterminate {
      + i.md-checkbox-control {
        &:after {
          transform: rotate(0);
          height: 0;
          top: ($md-checkbox-size / 2) - ($md-checkmark-width / 2);
        }
      }
    }

    &:disabled {

      + i.md-checkbox-control {
        cursor: not-allowed;
        opacity: $md-checkbox-disabled-opacity;

        &:before {
          cursor: not-allowed;
        }
      }

      &:checked {
        + i.md-checkbox-control:before {
        }
      }
    }
  }

}
