.modal-header,
.modal-body {
  padding-bottom: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.modal-header {
  .close {
    cursor: pointer;
    font-size: 2rem;
  }
}

.modal-title {
  @extend h2;
  margin-bottom: 0;
}
