.nav-link {
  color: var(--#{$cdk}primary-600);
}

.nav-tabs {
  border: none;

  .nav-link {
    border: none;
    border-bottom: var(--#{$cdk}size-3) solid transparent;
    @include border-radius(0);

    &:hover {
      border-bottom-color: transparent;
    }

    &.active {
      border-bottom: var(--#{$cdk}size-3) solid $nav-tabs-link-active-border-color;
    }
  }

  .nav-item.show .nav-link {
    border-bottom: var(--#{$cdk}size-3) solid transparent;
  }
}

.nav-pills {
  border-top: solid $border-width var(--#{$cdk}primary-400);
  border-bottom: solid $border-width var(--#{$cdk}primary-400);

  .nav-link {
    @include border-radius(0);

    &.active {
      border-bottom: var(--#{$cdk}size-3) solid $nav-pills-link-active-border-color;
    }
  }
}

.tab-content {
  padding: $nav-link-padding-y;
  background-color: $nav-tabs-link-active-bg;
}
