.nav-link {
  color: $medium-gray;
}

.nav-tabs {
  border: none;

  .nav-link {
    border: none;
    @include border-radius(0);
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-top: solid 0.1875rem $nav-tabs-link-active-border-color;
  }
}

.nav-pills {
  border-top: solid $border-width #dfdfdf;
  border-bottom: solid $border-width #dfdfdf;

  .nav-link {
    @include border-radius(0);

    &.active,
    .show > & {
      border-bottom: solid 0.1875rem $nav-pills-link-active-border-color;
    }
  }
}

.tab-content {
  padding: $nav-link-padding-y;
  background-color: $nav-tabs-link-active-bg;
}
