.page-item {
  &.previous,
  &.next {
    .page-link {
      padding: 0;

      &::after {
        @include use-material-icon();
        line-height: var(--#{$cdk}size-36);
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &.previous {
      .page-link {
        &::after {
          content: "\E314";
        }
      }
    }

    &.next {
      .page-link {
        &::after {
          content: "\E315";
        }
      }
    }
  }

  &.active .page-link {
    font-weight: 700;
  }
}

.page-link {
  margin: 0;
  font-weight: 400;

  &:active {
    z-index: 4;
  }

  @include hover-focus () {
    text-decoration: underline;
  }
}

// input used to jump to a page
.pagination .jump-to-page {
  @extend .form-control;
  width: var(--#{$cdk}size-48);
  margin: 0;
  font-weight: 700;
  color: $pagination-active-color;
  text-align: center;

  &:focus {
    font-weight: 400;
  }

  &:focus,
  &:active {
    position: relative;
    z-index: 1;
  }
}
