.page-item {
  &.previous,
  &.next {
    .page-link {
      padding: 0;

      &::after {
        @include use-material-icon();
        line-height: 2.375rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &.previous {
      .page-link {
        &::after {
          content: "\E314";
        }
      }
    }

    &.next {
      .page-link {
        &::after {
          content: "\E315";
        }
      }
    }
  }

  &.active .page-link {
    font-weight: $font-weight-bold;
  }
}

.page-link {
  font-weight: $font-weight-normal;

  @include hover-focus () {
    text-decoration: underline;
  }
}

// input used to jump to a page
.pagination .jump-to-page {
  @extend .form-control;
  width: 3rem;
  margin-top: 2px;
  margin-right: 1px; // fixes weird bug where right border disappears
  font-weight: 700;
  color: $pagination-active-color;

  &:focus {
    font-weight: 400;
  }
}
