/* stylelint-disable-next-line */
$component-name: popover;

.#{$component-name} {
  padding: var(--#{$cdk}size-10);
  background: var(--#{$cdk}primary-700);
  border: none;
  border-radius: 0;

  & &-header,
  & &-body {
    padding: 0;
    color: var(--#{$cdk}white);
    background: none;
    border: none;
  }

  & &-header {
    margin-bottom: var(--#{$cdk}size-4);
  }

  &.bs-popover-right .arrow {
    left: calc(-1 * var(--#{$cdk}size-8));

    &::before,
    &::after {
      border-right-color: var(--#{$cdk}primary-700);
    }
  }

  &.bs-popover-left .arrow {
    right: calc(-1 * var(--#{$cdk}size-8));

    &::before,
    &::after {
      border-left-color: var(--#{$cdk}primary-700);
    }
  }

  &.bs-popover-bottom .arrow {
    top: calc(-1 * var(--#{$cdk}size-8));

    &::before,
    &::after {
      border-bottom-color: var(--#{$cdk}primary-700);
    }
  }

  &.bs-popover-top .arrow {
    bottom: calc(-1 * var(--#{$cdk}size-8));

    &::before,
    &::after {
      border-top-color: var(--#{$cdk}primary-700);
    }
  }
}
