/* stylelint-disable selector-class-pattern */
.pstaggerWrapper {
  @extend .form-control;
  min-height: 43px;
  padding: 0;
  border: 0;
}

.pstaggerTagsWrapper {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  padding: var(--#{$cdk}size-6) var(--#{$cdk}size-8);
  background: var(--#{$cdk}white);
  border: 1px solid var(--#{$cdk}primary-400);
}

.pstaggerAddTagWrapper {
  width: 100%;
  height: 100%;
}

.pstaggerTag {
  display: inline-block;
  padding: var(--#{$cdk}size-2) var(--#{$cdk}size-4) var(--#{$cdk}size-2) var(--#{$cdk}size-6);
  margin: var(--#{$cdk}size-2);
  font-size: var(--#{$cdk}size-12);
  font-weight: 700;
  color: var(--#{$cdk}primary-800);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--#{$cdk}primary-300);

  > span {
    display: inline-block;
    line-height: var(--#{$cdk}size-20);
    white-space: nowrap;
  }

  .pstaggerClosingCross {
    display: inline-block;
    align-content: center;
    width: var(--#{$cdk}size-20);
    height: var(--#{$cdk}size-20);
    margin: 0 0 0 var(--#{$cdk}size-6);
    font-size: 0;
    line-height: var(--#{$cdk}size-20);
    vertical-align: middle;

    &:hover {
      &::after {
        color: var(--#{$cdk}primary-800);
        background-color: var(--#{$cdk}primary-400);
      }
    }

    &::after {
      @include material-icon("\E5CD");
      align-content: center;
      width: var(--#{$cdk}size-20);
      height: var(--#{$cdk}size-20);
      font-size: var(--#{$cdk}size-18);
      font-weight: 400;
      line-height: var(--#{$cdk}size-20);
      color: var(--#{$cdk}primary-800);
      text-decoration: none;
      text-shadow: none;
      background-color: var(--#{$cdk}primary-300);
      border-radius: 50%;
      transition: var(--#{$cdk}default-transition);
    }
  }
}

.pstaggerAddTagInput {
  @extend .form-control;
  height: 100%;
}

.input-group .pstaggerAddTagInput {
  display: block;
  width: 100%;
  border-radius: 0;
}
/* stylelint-enable selector-class-pattern */
