// on-off switch control
.ps-switch {
  position: relative;
  display: block;
  width: 100%;
  height: 21px;

  &-nolabel {
    label {
      display: none;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    padding-left: 2.8rem;
    opacity: 0;
    transform: translateY(-50%);
  }

  .slide-button {
    position: relative;
    position: absolute;
    top: 50%;
    z-index: 0;
    display: block;
    width: 35px;
    height: 21px;
    @include transition(.25s ease-out);
    transform: translateY(-50%);
    @include border-radius(1000px);

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 46%;
      height: calc(100% - 4px);
      content: "";
      background: $white;
      @include border-radius(50%);
      @include transition(.25s ease-out);
      transform: translate(2px, -48%);
    }
  }

  &-center {
    .slide-button {
      position: inherit;
      margin: auto;
    }
  }

  input {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    &:disabled {
      cursor: not-allowed;

      ~ .slide-button {
        opacity: .2;
      }
    }

    &:checked {
      z-index: 0;
    }

    &:first-of-type:checked {
      ~ label:first-of-type {
        opacity: 1;
      }

      &:disabled ~ label:first-of-type {
        opacity: .2;
      }

      ~ .slide-button {
        background: $gray-450;
      }
    }

    &:last-of-type:checked {
      ~ label:last-of-type {
        opacity: 1;
      }

      &:disabled ~ label:last-of-type {
        opacity: .2;
      }

      ~ .slide-button {
        background: $success;

        &::after {
          transform: translate(17px, -48%);
        }
      }
    }
  }

  &.ps-switch-sm {
    min-width: 6.25rem;
    height: 16px;
    font-size: $font-size-sm;

    label {
      padding-left: 2.5rem;
    }

    .slide-button {
      width: 30px;
      height: 16px;

      &::after {
        width: 37%;
      }
    }
  }

  &.ps-switch-lg {
    height: 30px;
    font-size: $font-size-lg;

    label {
      padding-left: 4.075rem;
    }

    .slide-button {
      width: 55px;
      height: 30px;
    }

    input:last-of-type:checked ~ .slide-button {
      &::after {
        transform: translate(28px, -50%);
      }
    }
  }
}
