$component-name: ps-number;

.#{$component-name} {
    position: relative;

    & &-inputs {
        display: flex;
        align-items: center;
    }

    & &-controls {
        margin-left: 5px;
    }

    .invalid-feedback {
        &.show {
            display: block;
        }

        &::after {
            @include material-icon("\E000");
            position: absolute;
            right: 6.8rem;
            bottom: 1.813rem;
            font-size: 1.438rem;
            font-weight: $font-weight-normal;
            vertical-align: middle;
            color: theme-color("danger");
        }
    }
}