.ps-dropdown {
  width: 100%;
  padding: 0.1875em 0;
  font-size: var(--#{$cdk}size-14);
  line-height: 2.25em;
  color: var(--#{$cdk}primary-800);
  cursor: pointer;
  background: var(--#{$cdk}white);
  box-shadow: none;
  transition: var(--#{$cdk}default-transition);

  &.bordered {
    border: 1px solid var(--#{$cdk}primary-400);
    @include border-radius(0);

    &.show {
      @include border-radius(0);
      border: 1px solid var(--#{$cdk}primary-800);
      box-shadow: var(--#{$cdk}box-shadow-md);
    }
  }

  .dropdown-label {
    flex-grow: 1;
    padding: 0 var(--#{$cdk}size-5) 0 var(--#{$cdk}size-16);
  }

  .arrow-down {
    position: relative;
    font-size: 1.8em;
    line-height: var(--#{$cdk}size-32);
    color: var(--#{$cdk}primary-800);
    cursor: pointer;
    transition: var(--#{$cdk}default-transition);
  }

  &.show {
    .arrow-down {
      transform: rotate(-180deg);
    }
  }

  > .ps-dropdown-menu {
    z-index: 1;
    width: 100%;
    min-width: 18.75rem; // 300px
    padding: 0;
    padding: var(--#{$cdk}size-8);
    margin: 0;
    margin-top: var(--#{$cdk}size-6);
    border: none;
    box-shadow: inherit;
    @include border-radius(0);

    .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
