$icon-margin-left: 0.5rem !default;

.ps-sortable-column {

  display: flex;
  flex-wrap: nowrap;

  [role="columnheader"] {
    text-overflow: ellipsis;
  }

  // sort button
  .ps-sort {
    @include use-material-icon();
    align-self: flex-end;
    margin-bottom: 0.125rem;
    margin-left: $icon-margin-left;
    font-size: 1rem;
    color: $gray-500;
    opacity: 0;
    @include transition(all 0.2s);
    transform: rotate(90deg);

    &::before {
      content: "code";
    }
  }

  // current sorted column
  &[data-sort-is-current] {
    .ps-sort {
      font-weight: 700;
      color: $primary;
      opacity: 1;
      transform: rotate(0deg);
    }

    &[data-sort-direction="asc"] {
      .ps-sort {
        &::before {
          content: "keyboard_arrow_up";
        }
      }
    }

    &[data-sort-direction="desc"] {
      .ps-sort {
        &::before {
          content: "keyboard_arrow_down";
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  // show rollover icon on sortable columns
  &:not([data-sort-is-current="true"]):hover {
    .ps-sort {
      width: auto;
      opacity: 1;
    }
  }

}

.text-center,
.text-right {
  > .ps-sortable-column:not([data-sort-is-current="true"]) {
    // hide sort buttons and show them on rollover

    > .ps-sort {
      width: 0;
      margin-left: 0;
      overflow: hidden;
    }

    &:hover {
      > .ps-sort {
        width: initial;
        height: initial;
        margin-left: $icon-margin-left;
      }
    }
  }
}

.text-center > .ps-sortable-column {
  justify-content: center;
}

.text-right > .ps-sortable-column {
  justify-content: flex-end;
}

