.pstaggerWrapper {
  position: relative;
  flex: 1;

  + .input-group-btn {
    .btn {
      height: 2.438rem;
    }
  }
}

.pstaggerTagsWrapper {
  display: none;
  position: relative;
  padding: $badge-padding-y $badge-padding-x 0 $badge-padding-x;
  border: solid $border-width $border-color;
  background: $white;
}

.pstaggerTag {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  margin-bottom: $badge-padding-y;
  margin-right: $badge-padding-x;
  line-height: 1;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius();

  @include badge-variant(theme-color('primary'));

  .pstaggerClosingCross {
    margin: 0 $badge-padding-x;
    color: $body-color;
    text-decoration: none;

    &:hover {
      color: $body-color;
    }
  }
}

.pstaggerAddTagInput,
.form-control-tagger {
  @extend .form-control;

  height: 2.563rem;
}

.input-group .pstaggerAddTagInput {
  display: block;
  width: 100%;
}
