.ps-dropdown {
  width: 100%;
  padding: .188em 0;
  font-size: .875rem;
  line-height: 2.286em;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  @include transition(.15s ease-out);

  &.bordered {
    border: $gray-300 1px solid;
    @include border-radius(4px);

    &.show {
      @include border-bottom-right-radius(0);
      @include border-bottom-left-radius(0);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
    }
  }

  .dropdown-label {
    flex-grow: 1;
    padding: 0 5px 0 15px;
  }

  .arrow-down {
    position: relative;
    font-size: 1.8em;
    line-height: 2rem;
    color: $gray-500;
    cursor: pointer;
    @include transition(.4s ease-out);
  }

  &.show {
    .arrow-down {
      transform: rotate(-180deg);
    }
  }

  > .ps-dropdown-menu {
    z-index: 1;
    width: 100%;
    min-width: 18.75rem;
    padding: 0;
    margin: 0;
    margin-top: .3rem;
    border-color: $gray-300;
    border-top: 0;
    @include border-radius(0);
    @include border-bottom-right-radius(4px);
    @include border-bottom-left-radius(4px);
    box-shadow: inherit;

    .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
