/* stylelint-disable selector-class-pattern */
.pstaggerWrapper {
  @extend .form-control;
  padding: 0;

  border: 0;
}

.pstaggerTagsWrapper {
  position: relative;
  display: none;
  width: 100%;
  padding: $badge-padding-y $badge-padding-x;
  padding-bottom: 0;
  background: $white;
  border: solid $border-width $border-color;
}

.pstaggerAddTagWrapper {
  width: 100%;
  height: 100%;
}

.pstaggerTag {
  display: inline-block;
  padding: ($badge-padding-y / 2) $badge-padding-x;
  margin: 0 $badge-padding-x $badge-padding-y 0;
  font-size: .75rem;
  color: theme-color("primary");
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius();
  @include badge-variant(theme-color("primary"));

  .pstaggerClosingCross {
    margin: 0 0 0 $badge-padding-x;
    font-size: 0;
    color: $body-color;
    text-decoration: none;

    &::after {
      @include material-icon("\E5CD");
      font-size: 1.063rem;
      vertical-align: bottom;
    }

    &:hover {
      color: $body-color;
    }
  }
}

.pstaggerAddTagInput {
  @extend .form-control;
  height: 100%;
}

.input-group .pstaggerAddTagInput {
  display: block;
  width: 100%;
}
/* stylelint-enable selector-class-pattern */
