.tags-input {
  @extend .form-control;

  padding: 0;
  background-color: $input-bg;
  border: $input-btn-border-width solid $input-border-color;

  // css 4, but nice to have
  &:focus-within {
    border-color: $input-focus-border-color;
  }

  .tags-wrapper {
    font-size: 0; // collapses whitespace between tags

    &:not(:empty) {
      padding: $badge-padding-y $badge-padding-x;
      padding-right: 0;
    }
  }

  .tag {
    display: inline-block;
    padding: ($badge-padding-y / 2) $badge-padding-x;
    margin: 0 $badge-padding-x 0 0;
    font-size: .75rem;
    color: theme-color("primary");
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius();
    @include badge-variant(theme-color("primary"));

    &:last-child {
      margin-right: 0;
    }

    > .material-icons {
      margin: 0 0 0 $badge-padding-x;
      font-size: 1.063rem;
      color: $body-color;
      cursor: pointer;
    }
  }

  [type="text"] {
    flex-grow: 1;
    width: auto;
    min-width: 75px;
    border: none;
  }
}
