/* stylelint-disable-next-line */
$component-name: ps-number;

.#{$component-name} {
  position: relative;

  & &-inputs {
    display: flex;
    align-items: center;
  }

  & &-controls {
    margin-left: 5px;
  }

  .invalid-feedback {
    &.show {
      display: block;
    }
  }
}
