.ps-dropdown {
    font-size: 0.875rem;
    padding: .188em 0;
    background: #fff;
    width: 100%;
    line-height: 2.286em;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: .15s ease-out;

    &.bordered {
      border: $gray-300 1px solid;
      border-radius: 4px;

      &.show {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      }
    }

    .dropdown-label {
      padding: 0 5px 0 15px;
      flex-grow: 1;
    }

    .arrow-down {
      font-size: 1.8em;
      position: relative;
      cursor: pointer;
      color: $gray-500;
      line-height: 2rem;
      transition: .4s ease-out;
    }

    &.show {
        .arrow-down {
            transform: rotate(-180deg);
        }
    }

    > .ps-dropdown-menu {
        z-index: 1;
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        min-width: 18.75rem;
        margin: 0;
        margin-top: 0.25rem;
        padding: 0;
        border-color: $gray-300;
        border-top: 0;
        box-shadow: inherit;
      .dropdown-item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
