/* stylelint-disable-next-line */
$component-name: ps-number;

.#{$component-name} {
  position: relative;

  & &-inputs {
    display: flex;
    align-items: center;

    .btn {
      min-width: 2.5rem;
      padding: .44rem .47rem;

      > .material-icons {
        font-size: 1.2em;
      }
    }
  }

  & &-controls {
    height: 2.2rem;
    margin-left: 5px;
  }

  .invalid-feedback {
    &.show {
      display: block;
    }
  }
}
