.tags-input {
  @extend .form-control;

  padding: 0;
  background-color: $input-bg;
  border: $input-btn-border-width solid $input-border-color;

  // css 4, but nice to have
  &:focus-within {
    border-color: $input-focus-border-color;
  }

  .tags-wrapper {
    font-size: 0; // collapses whitespace between tags

    &:not(:empty) {
      display: flex;
      flex-wrap: wrap;
      row-gap: var(--#{$cdk}size-8);
      align-items: flex-start;
      padding: var(--#{$cdk}size-8) 0 var(--#{$cdk}size-8) var(--#{$cdk}size-8);
    }
  }

  .tag {
    display: inline-block;
    padding: ($badge-padding-y / 2) $badge-padding-x;
    margin: 0 $badge-padding-x 0 0;
    font-size: var(--#{$cdk}size-12);
    font-weight: 700;
    line-height: var(--#{$cdk}size-20);
    color: var(--#{$cdk}primary-800);
    text-align: center;
    vertical-align: middle;
    background-color: var(--#{$cdk}primary-300);

    &:last-child {
      margin-right: 0;
    }

    > .material-icons {
      align-content: center;
      width: var(--#{$cdk}size-20);
      height: var(--#{$cdk}size-20);
      padding-inline: var(--#{$cdk}size-2);
      margin: 0 0 0 var(--#{$cdk}size-6);
      font-size: var(--#{$cdk}size-16);
      font-weight: 400;
      line-height: var(--#{$cdk}size-20);
      color: var(--#{$cdk}primary-800);
      text-decoration: none;
      text-shadow: none;
      cursor: pointer;
      background-color: var(--#{$cdk}primary-300);
      border-radius: 50%;
      opacity: 1;
      transition: var(--#{$cdk}default-transition);

      &:hover {
        color: var(--#{$cdk}primary-800);
        background-color: var(--#{$cdk}primary-400);
        opacity: 1;
      }
    }
  }

  [type="text"] {
    flex-grow: 1;
    width: auto;
    min-width: var(--#{$cdk}size-72);
    border: none;
  }
}
