/* stylelint-disable-next-line */
$component-name: search;

.#{$component-name} {
  &.input-group {
    .#{$component-name}-input {
      padding: 0 var(--#{$cdk}size-16);

      &:focus {
        border-color: var(--#{$cdk}primary-800);
      }
    }
  }
}
