/* stylelint-disable selector-class-pattern */
.select2-container--bootstrap {

  .select2-dropdown {
    padding: $input-padding-x $input-padding-y;
    @include border-radius(0);
  }

  .select2-search--dropdown {
    padding: 0;
    margin-bottom: $input-padding-x;
  }

  .select2-selection--single {
    height: $input-height;
    padding: $input-padding-x $input-padding-y;
    cursor: default;

    .select2-selection__arrow {
      margin-right: .625rem;

      b {
        right: .625rem;
      }
    }

    .select2-selection__rendered {
      padding: 0 $input-padding-y;
      line-height: 1.125rem;
    }
  }

  .select2-results {
    padding: 0;
  }
}
/* stylelint-enable selector-class-pattern */
