/* stylelint-disable-next-line */
$component-name: select2;

.#{$component-name}-container--bootstrap {
  &.#{$component-name}-container {
    background: var(--#{$cdk}white);

    .#{$component-name} {
      &-selection__rendered {
        padding: 0;
        line-height: var(--#{$cdk}size-28);
      }
    }
  }

  .#{$component-name} {
    &-dropdown {
      padding: $input-padding-x $input-padding-y;
      padding: 0;
      border-color: var(--#{$cdk}primary-400);
      border-radius: 0;
      box-shadow: var(--#{$cdk}box-shadow-md);
    }

    &-search--dropdown {
      padding: var(--#{$cdk}size-10);
      background: var(--#{$cdk}primary-200);
      border-bottom: 1px solid var(--#{$cdk}primary-400);

      .#{$component-name}-search__field {
        background: var(--#{$cdk}white);
        border: 1px solid var(--#{$cdk}primary-400);
        border-radius: 0;
      }
    }

    &-results {
      padding: 0;

      &__options {
        max-height: 200px;
        overflow-y: auto;
      }

      &__option {
        padding: var(--#{$cdk}size-8);

        &:not([role="group"]):hover {
          color: var(--#{$cdk}primary-800);
          background: var(--#{$cdk}primary-200);
        }

        &:not([role="group"]):focus,
        &:not([role="group"]):active {
          color: var(--#{$cdk}primary-800);
          background: var(--#{$cdk}primary-300);
        }

        &[aria-selected="true"] {
          display: flex;
          gap: var(--#{$cdk}size-8);
          align-items: center;
          color: var(--#{$cdk}primary-800);
          background-color: var(--#{$cdk}primary-300);

          &::after {
            margin-left: auto;
            font-family: var(--#{$cdk}font-family-material-icons);
            font-size: var(--#{$cdk}size-20);
            line-height: 1;
            content: "\e5ca";
          }
        }
      }
    }

    &-selection--single {
      height: auto;
      min-height: var(--#{$cdk}size-36);
      padding: var(--#{$cdk}size-8) var(--#{$cdk}size-16);
      padding-left: var(--#{$cdk}size-16);
      cursor: default;
      border: 1px solid var(--#{$cdk}primary-400);
      border-radius: 0;

      .#{$component-name}-selection__arrow {
        position: absolute;
        top: 50%;
        right: var(--#{$cdk}size-5);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);

        b {
          width: auto;
          height: auto;
          margin-top: 0;
          font-size: 0;
          border: none;

          &::after {
            @include material-icon("expand_more");
            display: inline-block;
            width: auto;
            line-height: 0;
            color: var(--#{$cdk}primary-600);
            vertical-align: middle;
            border: none;
            transition: var(--#{$cdk}default-transition);
          }
        }
      }
    }

    &-selection__rendered {
      padding: 0 $input-padding-y 0 0;
      line-height: var(--#{$cdk}size-20);
    }
  }

  &.#{$component-name}-container--disabled {
    color: var(--#{$cdk}primary-500);
    background: $input-disabled-bg;

    .#{$component-name}-selection--single {
      cursor: not-allowed;
    }
  }

  &.#{$component-name}-container--open {
    .#{$component-name}-selection__arrow b::after {
      transform: rotate(-180deg);
    }

    .#{$component-name}-selection {
      border-color: var(--#{$cdk}primary-300);
      border-radius: 0;
    }
  }
}
