.spinner {
  display: inline-block;
  width: var(--#{$cdk}size-40);
  height: var(--#{$cdk}size-40);
  font-size: 0;
  color: var(--#{$cdk}white);
  background-color: var(--#{$cdk}white);
  border-style: solid;
  border-width: var(--#{$cdk}size-3);
  border-top-color: var(--#{$cdk}primary-400);
  border-right-color: theme-color("primary");
  border-bottom-color: theme-color("primary");
  border-left-color: var(--#{$cdk}primary-400);
  @include border-radius(var(--#{$cdk}size-40));
  outline: none;
  animation: rotating 2s linear infinite;
}

@each $color, $value in $theme-colors {
  .spinner-#{$color} {
    border-right-color: $value;
    border-bottom-color: $value;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
