.spinner {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0;
  color: $white;
  background-color: $white;
  border-style: solid;
  border-width: .1875rem;
  border-top-color: $light-gray;
  border-right-color: theme-color("primary");
  border-bottom-color: theme-color("primary");
  border-left-color: $light-gray;
  @include border-radius(2.5rem);
  outline: none;
  animation: rotating 2s linear infinite;
}

@each $color, $value in $theme-colors-hover {
  .spinner-#{$color} {
    border-right-color: $value;
    border-bottom-color: $value;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
