.table {
  border-bottom: $table-border-width solid $table-border-color;

  thead {
    // normal header row
    th {
      border-top: none;
      border-bottom: solid .125rem theme-color("primary");

      > .material-icons {
        margin-top: -.5rem;
        color: $gray-500;
      }
    }

    // filter row
    .column-filters {
      background: $gray-200;
      th {
        vertical-align: top;
        border-bottom: none;
        padding: {
          top: 1rem;
          bottom: 1rem;
        }
      }
    }
  }

  // remove border from tables with filter row
  /* stylelint-disable */
  .with-filters + tbody {
    > tr:first-of-type {
      td,
      th {
        border-top: none;
      }
    }
  }
  /* stylelint-enable */

  td,
  th,
  tr {
    vertical-align: middle;
  }

  .form-group {
    text-align: center;

    .form-check {
      display: inherit;
      margin-bottom: 0;
    }
  }
}

.table-form {
  tbody tr:nth-of-type(odd) {
    background-color: theme-color-background("info");
  }
}

.table-hover {
  tbody tr {
    @include hover () {
      color: $white;
      cursor: pointer;
    }
  }
}

.thead-dark {
  th {
    background-color: $extra-dark-gray;
  }
}

.table-dark {
  &.table-form {
    tbody tr:nth-of-type(odd) {
      background-color: theme-color-background("info");
    }
  }
}
