.table {
  border-bottom: $table-border-width solid $table-border-color;

  thead th {
    border-bottom: solid .125rem theme-color('primary');
    border-top: none;
  }

  td,
  th,
  tr {
    vertical-align: middle;

    &.form-group {
      text-align: center;

      .form-check {
        display: inherit;
        margin-bottom: 0;
      }
    }
  }
}

.table-form {
  tbody tr:nth-of-type(odd) {
    background-color: $notice;
  }
}

.table-hover {
  tbody tr {
    @include hover {
      color: $white;
      cursor: pointer;
    }
  }
}

.thead-inverse {
  th {
    background-color: $extra-dark-gray;
  }
}

.table-inverse {
  &.table-form {
    tbody tr:nth-of-type(odd) {
      background-color: $notice;
    }
  }
}
