.table {
  border-bottom: $table-border-width solid $table-border-color;

  thead {
    // normal header row
    th {
      border-top: none;
      border-bottom: solid var(--#{$cdk}size-2) theme-color("primary");

      > .material-icons {
        margin-top: calc(-1 * var(--#{$cdk}size-8));
        color: var(--#{$cdk}primary-600);
      }
    }

    // filter row
    .column-filters {
      background: var(--#{$cdk}primary-100);

      td,
      th {
        vertical-align: middle;
        border-bottom: 1px solid var(--#{$cdk}primary-400);
        padding: {
          top: var(--#{$cdk}size-16);
          bottom: var(--#{$cdk}size-16);
        }
      }
    }
  }

  // remove border from tables with filter row
  /* stylelint-disable */
  .with-filters + tbody {
    > tr:first-of-type {
      td,
      th {
        border-top: none;
      }
    }
  }
  /* stylelint-enable */

  td,
  th,
  tr {
    vertical-align: middle;
  }

  td {
    font-size: 0.8125rem;
  }

  .form-group {
    text-align: center;

    .form-check {
      display: inherit;
      margin-bottom: 0;
    }
  }
}

.table-form {
  tbody tr:nth-of-type(odd) {
    background-color: var(--#{$cdk}primary-300);
  }
}

.table-hover {
  .table-active {
    color: var(--#{$cdk}white);
  }
}

.thead-dark {
  th {
    background-color: var(--#{$cdk}primary-800);
  }
}

.table-dark {
  &.table-form {
    tbody tr:nth-of-type(odd) {
      background-color: theme-color-background("info");
    }
  }
}
