.tooltip-link {
  > .material-icons {
    color: $medium-gray;
    vertical-align: middle;

    &:hover {
      color: theme-color("primary");
    }
  }
}

.external-link {
  &::before {
    @include material-icon("\E89E");
    display: inline-block;
    margin-right: .125rem;
    font-size: 1.2rem;
    font-weight: $font-weight-normal;
    text-decoration: none;
    vertical-align: middle;
  }
}

.small-text {
  font-size: $font-size-sm;
}

.xsmall-text {
  font-size: $font-size-xs;
}
