.tooltip-link {
  > .material-icons {
    color: var(--#{$cdk}primary-800);
    vertical-align: middle;

    &:hover {
      color: var(--#{$cdk}primary-700);
    }
  }
}

.external-link {
  &::before {
    @include material-icon("\E89E");
    display: inline-block;
    margin-right: var(--#{$cdk}size-2);
    font-size: var(--#{$cdk}size-18);
    font-weight: $font-weight-normal;
    text-decoration: none;
    vertical-align: middle;
  }
}

.small-text {
  font-size: $font-size-sm;
}

.xsmall-text {
  font-size: $font-size-xs;
}
