// Color system
$white: #fff;
$gray-100: #fafbfc;
$gray-200: #fafbfc;
$gray-300: #bbcdd2;
$gray-400: #bbcdd2;
$gray-500: #6c868e;
$gray-600: #6c868e;
$gray-700: #363a41;
$gray-800: #363a41;
$gray-900: #282b30;
$black: #000;

// PS Vars
$extra-light-gray: $gray-100;
$light-gray: $gray-300;
$medium-gray: $gray-500;
$dark-gray: $gray-700;
$extra-dark-gray: $gray-900;
$background-color: #eff1f2;

$blue: #25b9d7;
$red: #c05c67;
$yellow: #cd9321;
$green: #70b580;
$cyan: $blue;

// @todo: change if needed
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$orange:  #fd7e14 !default;
$teal:    #20c997 !default;

// main button background colors
$primary-hover: #3ed2f0;
$primary-active: #19a9c6;
$secondary-hover: $dark-gray;
$secondary-active: #f6fdff;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $blue,
  secondary: $medium-gray,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$theme-colors-hover: (
  primary: $primary-hover,
  secondary: $secondary-hover,
  success: #78d07d,
  info: $primary-hover,
  warning: #f1b746,
  danger: #e76d7a,
  light: $gray-800,
  dark: $gray-100
);

$theme-colors-active: (
  primary: $primary-active,
  secondary: $extra-dark-gray,
  success: darken(map-get($theme-colors, 'success'), 10%),
  info: darken(map-get($theme-colors, 'info'), 10%),
  warning: darken(map-get($theme-colors, 'warning'), 10%),
  danger: darken(map-get($theme-colors, 'danger'), 10%),
  light: darken(map-get($theme-colors, 'light'), 10%),
  dark: darken(map-get($theme-colors, 'dark'), 10%)
);

$theme-colors-background: (
  primary: #dff5f9,
  secondary: $black,
  success: #d6f0d8,
  info: #dff5f9,
  warning: #fde7bb,
  danger: #fde1e1,
  light: $gray-200,
  dark: $gray-700
);

$theme-colors-shadow: (
  primary: theme-color('primary'),
  secondary: $black,
  success: theme-color('success'),
  info: theme-color('info'),
  warning: theme-color('warning'),
  danger: theme-color('danger'),
  light: theme-color('light'),
  dark: theme-color('dark')
);


// Options
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: false;
$enable-hover-media-query: true;
$enable-grid-classes: true;
$enable-print-styles: true;

// Spacing
$spacer: 1.875rem;

$spacers: (
  0: 0,
  1: ($spacer / 6),
  2: ($spacer / 3),
  3: ($spacer / 2),
  4: ($spacer),
  5: ($spacer * 2)
);


// Body
$body-bg: $white;
$body-color: $dark-gray;

// Links
$link-hover-color: theme-color('primary');
$link-hover-decoration: underline;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 1024px,
  xl: 1300px
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 972px,
  xl: 1240px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Components
//$line-height-lg:         1.5 !default;
//$line-height-sm:         1.5 !default;

$border-color: $light-gray;

//$component-active-color: $white !default;
//$component-active-bg:    theme-color("primary") !default;

$caret-width: .25rem;

//$transition-base:        all .2s ease-in-out !default;
//$transition-fade:        opacity .15s linear !default;
//$transition-collapse:    height .35s ease !default;


// Fonts
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
//$font-family-serif: "Open Sans", serif;
//$font-family-monospace: "Open Sans", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: .875rem;
$font-size-lg: 1rem;
$font-size-sm: .75rem;
$font-size-xs: .625rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$h1-font-size: 1.5rem;
$h2-font-size: 1.125rem;
$h3-font-size: 1rem;
$h4-font-size: .875rem;
$h5-font-size: .75rem;
$h6-font-size: .625rem;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-bold;
$headings-color: $body-color;

$text-muted: $medium-gray;
$hr-border-color: $light-gray;


// Tables
$table-cell-padding: .4rem;
$table-cell-padding-sm: .25rem;

$table-accent-bg: $background-color;
$table-hover-bg: theme-color-hover('primary');
$table-active-bg:theme-color-hover('primary');
$table-border-color: $light-gray;

$table-head-bg: $background-color;
$table-head-color: $body-color;

$table-dark-bg: $body-color;
$table-dark-accent-bg: $extra-dark-gray;
$table-dark-hover-bg: theme-color-hover('primary');
$table-dark-border-color: $medium-gray;


// Buttons
$input-btn-padding-y: .4375rem;
$input-btn-padding-x: .4375rem;

$input-btn-padding-y-sm: .1875rem;
$input-btn-padding-x-sm: .125rem;

$input-btn-padding-y-lg: .625rem;
$input-btn-padding-x-lg: .625rem;

$btn-font-weight: $font-weight-semibold;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-border-radius: 0.063rem;

// Forms
$cursor-disabled: not-allowed;
$input-color: $body-color;
$input-disabled-bg: #eceeef;
$input-padding-x: .3125rem;
$input-padding-y: .4375rem;
$input-border-color: $light-gray;
$input-box-shadow: none;
$input-placeholder-color: $medium-gray;

$input-focus-border-color: theme-color-hover('primary');
$input-focus-box-shadow: none;
$input-height: 2.125rem;
$input-height-lg: 2.125rem;

$input-group-addon-bg: $extra-light-gray;

//$form-check-margin-bottom:  .5rem !default;
//$form-check-input-gutter:   1.25rem !default;
//$form-check-input-margin-y: .25rem !default;
//$form-check-input-margin-x: .25rem !default;

//$form-check-inline-margin-x: .75rem !default;

//$custom-control-gutter:   1.5rem !default;
//$custom-control-spacer-y: .25rem !default;
//$custom-control-spacer-x: 1rem !default;

//$custom-control-indicator-size:       1rem !default;
//$custom-control-indicator-bg:         #ddd !default;
//$custom-control-indicator-bg-size:    50% 50% !default;
//$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba($black,.1) !default;

//$custom-control-indicator-disabled-bg:       $gray-200 !default;
//$custom-control-description-disabled-color:  $gray-600 !default;

//$custom-control-indicator-checked-color:      $white !default;
//$custom-control-indicator-checked-bg:         theme-color("primary") !default;
//$custom-control-indicator-checked-box-shadow: none !default;

//$custom-control-indicator-focus-box-shadow: 0 0 0 1px $body-bg, 0 0 0 3px theme-color("primary") !default;

//$custom-control-indicator-active-color:      $white !default;
//$custom-control-indicator-active-bg:         lighten(theme-color("primary"), 35%) !default;
//$custom-control-indicator-active-box-shadow: none !default;

//$custom-checkbox-indicator-border-radius: $border-radius !default;
//$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

//$custom-checkbox-indicator-indeterminate-bg: theme-color("primary") !default;
//$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color !default;
//$custom-checkbox-indicator-icon-indeterminate: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23") !default;
//$custom-checkbox-indicator-indeterminate-box-shadow: none !default;

//$custom-radio-indicator-border-radius: 50% !default;
//$custom-radio-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;

$custom-select-disabled-color: $medium-gray;
$custom-select-disabled-bg: $input-disabled-bg;
$custom-select-indicator-color: $input-color;
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-box-shadow: $input-focus-box-shadow;

$custom-file-width: 100%;
$custom-file-focus-box-shadow: $input-focus-box-shadow;


// Form validation
$form-feedback-valid-color: theme-color('success');
$form-feedback-invalid-color: theme-color('danger');
$form-feedback-warning-color: theme-color('warning');


// Dropdowns
$dropdown-padding-y: 0;
$dropdown-border-color: $light-gray;
$dropdown-divider-bg: $light-gray;

$dropdown-link-color: $medium-gray;
$dropdown-link-hover-color: theme-color('primary');
$dropdown-link-hover-bg: $white;

$dropdown-item-padding-x: .3125rem;
$dropdown-item-padding-y: .3125rem;


// Z-index master list
//$zindex-dropdown:           1000 !default;
//$zindex-sticky:             1020 !default;
//$zindex-fixed:              1030 !default;
//$zindex-modal-backdrop:     1040 !default;
//$zindex-modal:              1050 !default;
//$zindex-popover:            1060 !default;
//$zindex-tooltip:            1070 !default;


// Navs
$nav-link-padding-y: .9375rem;
$nav-link-padding-x: 2.25rem;
$nav-link-disabled-color: $light-gray;

$nav-tabs-border-color: $white;

$nav-tabs-link-hover-border-color: theme-color('primary');
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: theme-color('primary');

$nav-pills-link-hover-border-color: $nav-tabs-link-hover-border-color;
$nav-pills-link-active-color: $nav-tabs-link-active-color;
$nav-pills-link-active-bg: $nav-tabs-link-active-bg;
$nav-pills-link-active-border-color: $nav-tabs-link-active-border-color;


// Navbar
//$navbar-padding-y:                  ($spacer / 2) !default;
//$navbar-padding-x:                  $spacer !default;

//$navbar-brand-font-size:            $font-size-lg !default;

//$nav-link-height:                   $navbar-brand-font-size * $line-height-base !default;
//$navbar-brand-height:               ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;
//$navbar-brand-padding-y:            ($navbar-brand-height - $nav-link-height) / 2 !default;

//$navbar-toggler-padding-y:           .25rem !default;
//$navbar-toggler-padding-x:           .75rem !default;
//$navbar-toggler-font-size:           $font-size-lg !default;
//$navbar-toggler-border-radius:       $btn-border-radius !default;

//$navbar-dark-color:                 rgba($white,.5) !default;
//$navbar-dark-hover-color:           rgba($white,.75) !default;
//$navbar-dark-active-color:          rgba($white,1) !default;
//$navbar-dark-disabled-color:        rgba($white,.25) !default;
//$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-dark-toggler-border-color:  rgba($white,.1) !default;

//$navbar-light-color:                rgba($black,.5) !default;
//$navbar-light-hover-color:          rgba($black,.7) !default;
//$navbar-light-active-color:         rgba($black,.9) !default;
//$navbar-light-disabled-color:       rgba($black,.3) !default;
//$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-light-toggler-border-color: rgba($black,.1) !default;


// Pagination
$pagination-padding-y: .65rem;
$pagination-padding-x: .5rem;

$pagination-color: $medium-gray;
$pagination-bg: $white;
$pagination-border-color: $white;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: $pagination-bg;
$pagination-hover-border-color: $pagination-border-color;

$pagination-active-color: theme-color('primary');
$pagination-active-bg: $pagination-bg;
$pagination-active-border-color: $pagination-border-color;

$pagination-disabled-color: $light-gray;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-border-color;


// Jumbotron
$jumbotron-bg: $extra-light-gray;


// Cards
$card-border-color: $light-gray;


// Tooltips
$tooltip-bg: $medium-gray;
$tooltip-padding-y: .625rem;
$tooltip-padding-x: 1.25rem;


// Popovers
$popover-inner-padding: 0;
$popover-border-color: $light-gray;
$popover-box-shadow: none;

$popover-header-bg: $extra-light-gray;
$popover-header-padding-y: .625rem;
$popover-header-padding-x: 1.25rem;

$popover-body-padding-y: .625rem;
$popover-body-padding-x: 1.25rem;


// Badges
$badge-padding-x: .4rem;
$badge-padding-y: .4rem;


// Modals
$modal-inner-padding: 1.875rem;
$modal-header-padding: $modal-inner-padding;
$modal-header-border-color: none;

$modal-content-border-color: none;
$modal-content-box-shadow-xs: 1px 2px 3px 0 rgba(108, 134, 142, 0.3);
$modal-content-box-shadow-sm-up: 1px 2px 3px 0 rgba(108, 134, 142, 0.3);

$modal-lg: 900px;
$modal-md: 680px;
$modal-sm: 400px;


// Alerts
$alert-padding-x: .625rem;
$alert-border-width: .125rem;


// Progress bars
//$progress-height:               1rem !default;
//$progress-font-size:            .75rem !default;
//$progress-bg:                   $gray-200 !default;
//$progress-border-radius:        $border-radius !default;
//$progress-box-shadow:           inset 0 .1rem .1rem rgba($black,.1) !default;
//$progress-bar-color:            $white !default;
//$progress-bar-bg:               theme-color("primary") !default;
//$progress-bar-animation-timing: 1s linear infinite !default;
//$progress-bar-transition:       width .6s ease !default;


// List group
$list-group-border-color: $light-gray;

$list-group-item-padding-y: $input-padding-y;
$list-group-item-padding-x: $input-padding-x;

$list-group-hover-bg: theme-color-hover('primary');
$list-group-active-bg: theme-color-hover('primary');

$list-group-disabled-color: $light-gray;
$list-group-action-hover-color: $white;


// Image thumbnails
$thumbnail-padding: .5rem;
$thumbnail-border-color: $light-gray;
$thumbnail-box-shadow: none;


// Figures
$figure-caption-color: $medium-gray;


// Breadcrumbs
$breadcrumb-bg: $white;
$breadcrumb-divider-color: $extra-dark-gray;
$breadcrumb-active-color: $extra-dark-gray;
$breadcrumb-divider: ">";


// Carousel
//$carousel-control-color:                      $white !default;
//$carousel-control-width:                      15% !default;
//$carousel-control-opacity:                    .5 !default;

//$carousel-indicator-width:                    30px !default;
//$carousel-indicator-height:                   3px !default;
//$carousel-indicator-spacer:                   3px !default;
//$carousel-indicator-active-bg:                $white !default;

//$carousel-caption-width:                      70% !default;
//$carousel-caption-color:                      $white !default;

//$carousel-control-icon-width:                 20px !default;

//$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
//$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

//$carousel-transition:           transform .6s ease !default;


// Close
//$close-font-size:             $font-size-base * 1.5 !default;
//$close-font-weight:           $font-weight-bold !default;
//$close-color:                 $black !default;
//$close-text-shadow:           0 1px 0 $white !default;


// Code
$code-color: $body-color;
$code-bg: $light-gray;

$kbd-color: $white;
$kbd-bg: $extra-dark-gray;

$pre-color: $body-color;
