// Custom PS
@import "~bootstrap/scss/functions";
@import "functions";
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";// Imports & variables PS

// Mixins
@import "mixins/fonts";
@import "imports"; // need fonts first
@import "mixins/close-button";
@import "mixins/shadows";
@import "mixins/buttons";
@import "mixins/forms";

// Addons
@import "~select2/src/scss/core.scss";
@import "~jquery.growl/stylesheets/jquery.growl.css";

// Components
@import "type";
@import "alerts";
@import "badges";
@import "buttons";
@import "button-group";
@import "breadcrumb";
@import "toolbar";
@import "cards";
@import "custom-forms";
@import "dropdown";
@import "forms";
@import "input-group";
@import "list-group";
@import "modal";
@import "navs";
@import "pagination";
@import "ps-tagger";
@import "ps-tags";
@import "tables";
@import "spinners";

@import "variables-select2";
@import "~select2-bootstrap-theme/src/select2-bootstrap";
@import "select2";
