// Custom PS
@import "~bootstrap/scss/functions";
@import "functions";
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap"; // Imports & variables PS

// Mixins
@import "mixins/fonts";
@import "imports"; // need fonts first
@import "mixins/close-button";
@import "mixins/shadows";
@import "mixins/buttons";
@import "mixins/forms";
@import "mixins/states";

// Addons
@import "~select2/src/scss/core";
@import "~jquery.growl/stylesheets/jquery.growl.sass";

// Utils
@import "utils/animations";

// Components
@import "type";
@import "alerts";
@import "help-box";
@import "popover";
@import "badges";
@import "buttons";
@import "button-group";
@import "breadcrumb";
@import "toolbar";
@import "cards";
@import "custom-forms";
@import "dropdown";
@import "forms";
@import "input-group";
@import "list-group";
@import "modal";
@import "navs";
@import "pagination";
@import "progress";
@import "ps-tagger";
@import "ps-tags";
@import "ps-switch";
@import "ps-sortable-columns";
@import "ps-dropdown";
@import "ps-number";
@import "tables";
@import "spinners";
@import "material-checkbox";
@import "growl";
@import "search";
@import "floating-button";
@import "content";

@import "variables-select2";
@import "select2";
@import "~@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4";
