{
  "extends": [
    "stylelint-config-prestashop"
  ],
  "rules": {
    "function-disallowed-list": null,
    "keyframes-name-pattern": null,
    "property-disallowed-list": null,
    "scss/at-function-named-arguments": null
  }
}
