// Alters variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin ps-alert-variant($background, $border, $body-color) {
    @include alert-variant($background, $border, $body-color);

    i {
        position: absolute;
        top: 8px;
        left: 10px;
        color: $border;
        float: left;
        font-size: 2.5em;
    }

    p {
        margin-left: 2.5em;
    }

    .alert-link {
        color: lighten($border, 10%);
    }

}

@mixin ps-growl($background, $icon) {
    background: $background;

    .growl-message:before {        
        font-family: 'Material Icons';
        font-size: 20px;
        font-weight: 400;
        display: block;
        content: $icon;
        float: left;
        margin: 0 12px 0 -40px;
    }

    .growl-message {
        display: block;
        margin-right: 50px;
        margin-left: 40px;
        color: $white;
    }

    .growl-close {
        position: absolute;
        top: 14px;
        right: 10px;
        font-size: 24px;
        color: $white;
    }
}
