// Button variants
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin ps-button-variant($color, $hover, $shadow) {
  background: $color;
  border: solid 2px $color;

  &.btn-sm {
    border: solid 1px $color;
  }

  &:hover {
    background-color: $hover;
    border-color: $hover;
  }

  &:focus,
  &.focus,
  &:active,
  &.active {
    color: #fff;
    background-color: $hover;
    border-top-color: $shadow;
    border-left-color: $shadow;
    box-shadow: 0 0 1px 0 $shadow, inset 1px 1px 3px 0 $shadow;
  }

  &.disabled,
  &:disabled {
    background-color: $gray-light;
    border-color: $gray-light;
  }
}

@mixin ps-button-outline-variant($color, $hover, $shadow) {
  @include ps-button-variant($color, $hover, $shadow);
  background-color: #fff;
  color: $color;
  border-color: $color;

  &.disabled,
  &:disabled {
    background-color: #fff;
    color: $gray-light;
    border-color: $gray-light;
  }
}

// Switch
// Help creates the differents switchs sizes
@mixin ps-switch($height, $width, $margin, $icon-size, $align-margin: 2px) {
  height: $height;
  width: $width;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  @if $margin < 0 {
    margin: -$align-margin 2px - $margin 0 0;
  } @else {
    margin: -$align-margin 2px 0 0;
  }

  &, &:after {
    background: $white;
    border: 2px solid $gray-light;
    border-radius: $height;
    box-sizing: border-box;
    color: $gray-medium;
    transition: all 0.5s;
  }
  & {
    background: $secondary;
  }

  > input {
    display: none;
  }

  &:after {
    @extend .material-icons;
    display: block;
    content: 'close';
    height: $height + (2 * -$margin);
    width: $height + (2 * -$margin);
    position: absolute;
    top: $margin - 2px;
    left: $margin - 2px;
    transform: rotate(-180deg);
    line-height: $height - (2 * $margin) - 4px;
    vertical-align: middle;
    text-align: center;
    font-size: $icon-size;
  }

  &.-checked {
    background: $primary;

    &:after {
      content: 'check';
      left: $width - $height - 2px + $margin;
      color: $primary;
      transform: rotate(0deg);
    }
  }
}
