@mixin ps-button-variant(
  $background,
  $border,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 7.5%),
  $active-background: darken($background, 7.5%),
  $active-border: darken($border, 10%),
  $color-name: "primary"
) {
  @if $color-name == "light" or $color-name == "warning" {
    color: $gray-800;
  } @else {
    color: $white;
  }
  background-color: $background;
  border-color: $border;
  box-shadow: none;

  &:hover {
    color: $white;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    color: $white;
    background-color: $background;
    border-color: $background;
    box-shadow: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $gray-450;
    background-color: $gray-disabled;
    border-color: $gray-disabled;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $active-background;
    border-color: $active-border;
    box-shadow: none;
  }
}

@mixin ps-button-outline-variant(
  $color,
  $color-hover: #fff,
  $color-name: "primary"
) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;

  @include hover() {
    color: $color-hover;
    background-color: theme-color-hover($color-name);
    border-color: theme-color-hover($color-name);
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $gray-450;
    background-color: transparent;
    border-color: $gray-disabled;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    background-color: theme-color-active($color-name);
    border-color: theme-color-active($color-name);
  }
}
