@mixin close-button($margin-right: 0, $color: $medium-gray) {
  .close {
    margin-right: $margin-right;
    color: $color;
    cursor: pointer;
    opacity: 1;

    .material-icons {
      font-size: 1.125rem;
      vertical-align: middle;
    }
  }
}
