// Color variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin ps-color($color) {
        background-color: $color;
    color: white;
    &:hover {
        background-color: $color;
    }
}
