@mixin use-material-icon {
  display: inline-block;
  font-family: "Material Icons", Arial, Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;  /* Preferred icon size */
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@mixin material-icon($content) {
  @include use-material-icon ();

  content: $content;
}
