@mixin use-material-icon {
  display: inline-block;
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: var(--#{$cdk}size-24);  /* Preferred icon size */
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
}

@mixin material-icon($content) {
  @include use-material-icon();
  content: $content;
}
