@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin ps-form-control-focus($border-focus, $box-shadow-focus) {
  &:focus {
    border-color: $border-focus;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px $box-shadow-focus;
  }
}
