@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin ps-form-control-focus($border-focus, $box-shadow-focus) {
  &:focus {
    border-color: $border-focus;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px $box-shadow-focus;
  }
}

@mixin bootstrap-input-defaults {
    @include box-shadow($form-control-default-box-shadow);
    background-color: $input-bg;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    color: $input-color;
    font-family: $font-family-base;
    font-size: $font-size-base;
}

@mixin validation-state-focus($color) {
    $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($color, 20%);
    .select2-dropdown,
    .select2-selection {
        border-color: $color;
    }
    .select2-container--focus .select2-selection,
    .select2-container--open .select2-selection {
        @include box-shadow($shadow);
        border-color: darken($color, 10%);
    }
    &.select2-drop-active {
        border-color: darken($color, 10%);
        &.select2-drop.select2-drop-above {
            border-top-color: darken($color, 10%);
        }
    }
}

// dropdown arrow when dropdown is open
@mixin dropdown-arrow {
    .select2-selection--single {
        /**
         * Make the dropdown arrow point up while the dropdown is visible.
         */
        .select2-selection__arrow b {
            border-color: transparent transparent $dropdown-arrow-color transparent;
            border-width: 0 $caret-width-large $caret-width-large $caret-width-large;
        }
    }
}
