@mixin ps-shadow-custom($color) {
  @if $enable-shadows {
    border-top-color: theme-color-shadow($color);
    border-left-color: theme-color-shadow($color);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5), inset 1px 1px 3px 0 theme-color-shadow($color);
  } @else {
    box-shadow: none;
  }
}
