.control-label {
  @extend .form-control-label;
}

.form-group {
  margin-bottom: $grid-gutter-width;
}

.form-control-static {
  @extend .form-control-static;
  display: block;
}

.radio,
.checkbox {
  label {
    color: $gray-medium;

    input {
      margin-right: 4px;
    }
  }
}

.input-lg {
  @extend .form-control-lg;
}

.input-sm {
  @extend .form-control-sm;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  &:focus {
    background-color: $input-bg;
  }
}
