/* stylelint-disable */
@import "../application";

:export {
  white: $white;
  black: $black;
  gray-disabled: $gray-disabled;
  gray-100: $gray-100;
  gray-200: $gray-200;
  gray-250: $gray-250;
  gray-300: $gray-300;
  gray-400: $gray-400;
  gray-450: $gray-450;
  gray-500: $gray-500;
  gray-550: $gray-550;
  gray-600: $gray-600;
  gray-700: $gray-700;
  gray-750: $gray-750;
  gray-800: $gray-800;
  gray-900: $gray-900;
}
