/* stylelint-disable */
@import "../application";

:export {
  font-family-sans-serif: $font-family-sans-serif;
  font-size-base: $font-size-base;
  font-size-lg: $font-size-lg;
  font-size-sm: $font-size-sm;
  font-size-xs: $font-size-xs;
  font-weight-semibold: $font-weight-semibold;
  font-weight-bold: $font-weight-bold;
  h1-font-size: $h1-font-size;
  h2-font-size: $h2-font-size;
  h3-font-size: $h3-font-size;
  h4-font-size: $h4-font-size;
  h5-font-size: $h5-font-size;
  h6-font-size: $h6-font-size;
  headings-font-family: $headings-font-family;
  headings-font-weight: $headings-font-weight;
  headings-colors: $headings-color;
}
