// Font import
// Open Sans    Normal    : 400,
//              Semi-Bold : 600,
//              Bold      : 700

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
