.alert {
  border-radius: 0;
  padding: $alert-padding-y 0 $alert-padding-y 2.875rem;
  position: relative;

  &::before {
    font-family: 'Material Icons';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.875rem;
    height: 100%;
    text-align: center;
    font-size: 1.563rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  p {
    font-size: 0.875rem;
    margin: 0;
  }

  > * {
    padding: 0 $alert-padding-x;
  }

  @include close-button(0.625rem);

  &.medium-alert {
    p {
      font-size: 0.75rem;
    }
  }

  &.expandable-alert {
    .read-more {
      @extend .close;
      font-size: 0.875rem;
      line-height: 1.375rem;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    .alert-more {
      color: $gray-medium;
      margin: 1.375rem 0 0.75rem 0;

      p {
        color: inherit;
        font-size: 0.75rem;
      }
    }
  }
}

.alert-info {
  &::before {
    content: '\E88F';
    background-color: $notice;
    color: $alert-info-border;
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus {
    color: $alert-info-border;
  }
}

.alert-warning {
  &::before {
    content: '\E001';
    background-color: $warning-hover;
    color: $alert-warning-border;
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus  {
    color: $alert-warning-border;
  }
}

.alert-danger {
  &::before {
    content: '\E001';
    background-color: $danger-hover;
    color: $alert-danger-border;
  }

  .close,
  &.expandable-alert .read-more,
  &.expandable-alert .read-more:hover,
  &.expandable-alert .read-more:focus  {
    color: $alert-danger-border;
  }
}
