.alert {
  position: relative;
  padding: 0.9375rem;

  p {
    margin-bottom: 0;
  }
}

.alert-info {
  @include ps-alert-variant($notice, $primary, $gray-dark);
}

.alert-warning {
  @include ps-alert-variant($warning-hover, $warning, $gray-dark);
}

.alert-danger {
  @include ps-alert-variant($danger-hover, $danger, $gray-dark);
}

.alert-drop {
  margin-bottom: 0;
}

.alert-down {
  display: none;
  background-color: $white;
  border-radius: 0;
  border-top: none;
}

.growl-notice {
  @include ps-growl($success, "\E876");
}

.growl-error {
  @include ps-growl($danger, "\E88F");
}
