.breadcrumb {
  background-color: transparent;
  flex: 0 1 100%;
  padding: map-get($spacing-widths, 's') 0 map-get($spacing-widths, 's') map-get($spacing-widths, 's');
  margin: 0;
}

.breadcrumb-item {
  a {
    color: $gray-dark;

    &:hover {
      @extend a:hover;
    }
  }
//  float: left;
//
//  // The separator between breadcrumbs (by default, a forward-slash: "/")
//  + .breadcrumb-item::before {
//    display: inline-block; // Suppress underlining of the separator in modern browsers
//    padding-right: $breadcrumb-item-padding;
//    padding-left: $breadcrumb-item-padding;
//    color: $breadcrumb-divider-color;
//    content: "#{$breadcrumb-divider}";
//  }
//
//  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
//  // without `<ul>`s. The `::before` pseudo-element generates an element
//  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
//  //
//  // To trick IE into suppressing the underline, we give the pseudo-element an
//  // underline and then immediately remove it.
//  + .breadcrumb-item:hover::before {
//    text-decoration: underline;
//  }
//  + .breadcrumb-item:hover::before {
//    text-decoration: none;
//  }
//
  &.active {
    font-weight: $font-weight-bold;
//    color: $breadcrumb-active-color;
  }
}
