.breadcrumb {
  background-color: transparent;
  flex: 0 1 100%;
  padding: map-get($spacing-widths, 's') 0 map-get($spacing-widths, 's') map-get($spacing-widths, 's');
  margin: 0;
}

.breadcrumb-item {
  a {
    color: $gray-dark;

    &:hover {
      @extend a:hover;
    }
  }

  &.active {
    font-weight: $font-weight-bold;
  }
}
