// Buttons
//
// Styleguide 3

// Base styles
//
// Markup:
// <button type="button" class="btn btn-primary">Primary</button>
// <button type="button" class="btn btn-secondary">Secondary</button>
// <button type="button" class="btn btn-tertiary">Tertiary</button>
// <button type="button" class="btn btn-success">Success</button>
// <button type="button" class="btn btn-warning">Warning</button>
// <button type="button" class="btn btn-danger">Danger</button>
// <button type="button" class="btn btn-invisible"><i class="material-icons">cake</i> The cake is a lie</button>
//
// Styleguide 3.1

.btn-primary {
    @include ps-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $primary-hover);
}
.btn-secondary {
    @include ps-button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border, $secondary-hover);
}
.btn-tertiary {
    @include ps-button-variant($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border, $tertiary-hover);
}
.btn-info {
    @include ps-button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $primary-hover);
}
.btn-success {
    @include ps-button-variant($btn-success-color, $btn-success-bg, $btn-success-border, $success-hover);
}
.btn-warning {
    @include ps-button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border, $warning-hover);
}
.btn-danger {
    @include ps-button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border, $danger-hover);
}
.btn-invisible {
    @include ps-button-variant($gray-medium, rgba($white, 0), rgba($gray-light, 0), $gray-light);
}

// Outline Styles
//
// Markup:
// <button type="button" class="btn btn-primary-outline">Primary</button>
// <button type="button" class="btn btn-secondary-outline">Secondary</button>
// <button type="button" class="btn btn-tertiary-outline">Tertiary</button>
// <button type="button" class="btn btn-success-outline">Success</button>
// <button type="button" class="btn btn-warning-outline">Warning</button>
// <button type="button" class="btn btn-danger-outline">Danger</button>
//
// Styleguide 3.2

.btn-primary-outline {
    @include ps-button-outline-variant($btn-primary-bg, $primary-hover);
    border-color: $btn-primary-border;
    &.sensitive {
        border-color: $primary-border-color;
    }
}
.btn-secondary-outline {
    @include ps-button-outline-variant($btn-secondary-border, $secondary-hover);
}
.btn-tertiary-outline {
    @include ps-button-outline-variant($btn-tertiary-border, $tertiary-hover);
}
.btn-info-outline {
    @include ps-button-outline-variant($btn-info-bg, $primary-hover);
}
.btn-success-outline {
    @include ps-button-outline-variant($btn-success-bg, $success-hover);
}
.btn-warning-outline {
    @include ps-button-outline-variant($btn-warning-bg, $warning-hover);
}
.btn-danger-outline {
    @include ps-button-outline-variant($btn-danger-bg, $danger-hover);
}

.btn-primary-reverse {
    @include ps-button-reverse($btn-primary-bg, $primary-hover);
}
.btn-secondary-reverse {
    @include ps-button-reverse($btn-secondary-border, $secondary-hover);
}
.btn-tertiary-reverse {
    @include ps-button-reverse($btn-tertiary-border, $tertiary-hover);
}
.btn-info-reverse {
    @include ps-button-reverse($btn-info-bg, $primary-hover);
}
.btn-success-reverse {
    @include ps-button-reverse($btn-success-bg, $success-hover);
}
.btn-warning-reverse {
    @include ps-button-reverse($btn-warning-bg, $warning-hover);
}
.btn-danger-reverse {
    @include ps-button-reverse($btn-danger-bg, $danger-hover);
}

// Sizes
//
// Add .btn-lg or .btn-sm for additional sizes.
//
// .btn-lg      - Large Button.
// .btn-sm      - Small Button.
// .btn-block   - Block Button.
//
// Markup:
// <button type="button" class="btn btn-primary {{modifier_class}}">Primary Button</button>
// <button type="button" class="btn btn-primary-outline {{modifier_class}}">Primary Button</button>
//
// Styleguide 3.4

.btn {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .75em;
    border-radius: 3px;
    border-width: 2px;
    font-weight: 600;

    &.sensitive {
        text-transform: none;
        letter-spacing: 0;
        font-size: 0.75rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.5rem;
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: .65;
        @include box-shadow(none);
    }
}

.btn-lg {
    padding: 1.25em 1.5em;
    font-size: 0.75rem;
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: .65;
        @include box-shadow(none);
    }
}

// Action button
//
// Markup:
// <button type="button" class="btn btn-action"><i class="material-icons">add</i>Button</button>
//
// Styleguide 3.5

.btn-action {
    @include ps-button-outline-variant($gray-light, $gray-light);
    color: $primary;

    > .material-icons {
        color: $primary;
    }

    &:hover {
        color: $primary-hover;
        > .material-icons {
            color: $primary-hover;
        }
    }
}

// States
//
// Markup:
// <button type="button" class="btn btn-primary">Button</button>
// <button type="button" class="btn btn-primary active">Button</button>
// <button type="button" class="btn" disabled>Button</button>
//
// Styleguide 3.6

// Switch Button
//
// There are multiple sizes.
//
// .small - Small switch
// .tiny - Tiny switch (Usefull for inline)
//
// Markup:
// <label for="switch{{modifier_class}}"><input data-toggle="switch" class="{{modifier_class}}" id="switch{{modifier_class}}" data-inverse="true" type="checkbox" name="my-checkbox" checked> I love cats.</label>
//
// Styleguide 3.7

.switch-input {
    @include ps-switch(30px, 60px, -3px, 24px);

    &.small {
        @include ps-switch(20px, 40px, -2px, 16px);
    }

    &.tiny {
        @include ps-switch(16px, 28px, -1px, 12px);
    }
}

// Examples Buttons
//
// Markup:
// <button type="button" class="btn btn-primary-outline sensitive"><i class="material-icons">add_circle</i> Add a new feature</button>
// <a href="#" class="btn sensitive external-link"><i class="material-icons">open_in_new</i> Create a new warehouse</a>
// <button type="button" class="btn btn-tertiary-outline sensitive"><i class="material-icons">visibility</i> Show disabled modules</button>
// <button type="button" class="btn btn-tertiary-outline sensitive">Show disabled modules <i class="material-icons">visibility</i></button>
//
// Styleguide 3.8

.btn {
    > .material-icons {
        font-size: 1.25rem;
        vertical-align: -0.375rem;
        margin: -0.25rem 0;
    }
}
