.btn {
  text-transform: uppercase;
  font-family: $font-family-base;
  color: #fff;
  letter-spacing: .1em;
  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
  padding: map-get($spacing-widths, 'xs');

  &.btn-sm {
    padding: map-get($spacing-widths, 'xxs');
    font-weight: $font-weight-normal;
    text-transform: inherit;
  }

  &.btn-lg {
    padding: map-get($spacing-widths, 's');
    font-weight: $font-weight-bold;
  }

  &:hover {
    cursor: pointer;
    color: #fff;
  }

  &.disabled,
  &:disabled {
    opacity: 1;
    cursor: $cursor-disabled;

    &:hover {
      cursor: $cursor-disabled;
    }
  }

  > .material-icons {
    vertical-align: middle;
  }
}

a {
  font-size: 0.75rem;
  font-weight: $font-weight-bold;

  &.tooltip-link {
    > .material-icons {
      color: $gray-medium;
      vertical-align: middle;

      &:hover {
        color: $primary;
      }
    }
  }

  &.external-link {
    &::before {
      font-family: 'Material Icons';
      content: '\E89E';
      font-size: 1.20rem;
      font-weight: $font-weight-normal;
      margin-right: 0.125rem;
      display:inline-block;
      vertical-align: middle;
      text-decoration: none;
    }
  }
}

.show {
  & > .btn-primary {
    &.dropdown-toggle {
      background-color: $btn-primary-bg;
      @include ps-shadow-button($btn-primary-bg, $btn-primary-border);
    }
  }

  & > .btn-secondary {
    &.dropdown-toggle {
      background-color: $btn-secondary-bg;
      color: #fff;
      @include ps-shadow-button($btn-secondary-bg, $btn-secondary-border);
    }
  }
}

.btn-primary {
  @include ps-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-secondary {
  @include ps-button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-primary-outline {
  @include ps-button-outline-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-secondary-outline {
  @include ps-button-outline-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.switch-input {
  @include ps-switch(30px, 60px, -3px, 24px);

  &.small {
    @include ps-switch(20px, 40px, -2px, 16px);
  }

  &.tiny {
    @include ps-switch(16px, 28px, -1px, 12px);
  }
}
