// Buttons
//
// Styleguide 3

// Base styles
//
// Markup:
// <button type="button" class="btn btn-primary">Primary</button>
// <button type="button" class="btn btn-secondary">Secondary</button>
// <button type="button" class="btn btn-success">Success</button>
// <button type="button" class="btn btn-warning">Warning</button>
// <button type="button" class="btn btn-link">Link</button>
//
// Styleguide 3.1

// Outline Styles
//
// Markup:
// <button type="button" class="btn btn-primary-outline">Primary</button>
// <button type="button" class="btn btn-secondary-outline">Secondary</button>
// <button type="button" class="btn btn-success-outline">Success</button>
// <button type="button" class="btn btn-warning-outline">Warning</button>
//
// Styleguide 3.2

// Sizes
//
// Add .btn-lg or .btn-sm for additional sizes.
//
// .btn-lg      - Active state.
// .btn-sm      - Active state.
// .btn-block      - Active state.
//
// Markup:
// <button type="button" class="btn btn-primary {{modifier_class}}">Primary Button</button>
// <button type="button" class="btn btn-primary-outline {{modifier_class}}">Primary Button</button>
//
// Styleguide 3.3

// States
//
// Markup:
// <button type="button" class="btn btn-primary">Button</button>
// <button type="button" class="btn btn-primary">Button</button>
// <button type="button" class="btn btn-primary active">Button</button>
// <button type="button" class="btn btn-primary disabled">Button</button>
//
// Styleguide 3.4

// Core

.btn-primary {
    @include ps-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
    @include ps-button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-info {
    @include ps-button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
    @include ps-button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
    @include ps-button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
    @include ps-button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Remove all backgrounds
.btn-primary-outline {
    @include ps-button-outline-variant($btn-primary-bg);
}
.btn-secondary-outline {
    @include ps-button-outline-variant($btn-secondary-border);
}
.btn-info-outline {
    @include ps-button-outline-variant($btn-info-bg);
}
.btn-success-outline {
    @include ps-button-outline-variant($btn-success-bg);
}
.btn-warning-outline {
    @include ps-button-outline-variant($btn-warning-bg);
}
.btn-danger-outline {
    @include ps-button-outline-variant($btn-danger-bg);
}

.btn {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .75em;
    border-radius: 3px;
    font-weight: 600;
}

.btn-sm {
    padding: .65em 1em;
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: .65;
        @include box-shadow(none);
    }
}

.btn-lg {
    padding: 1em 1.5em;
    font-weight: 800;
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: .65;
        @include box-shadow(none);
    }
}