// Colors
//
// Styleguide 2

// Palette
//
// Visual identity & branding colors
// <div class="col-md-3"><div style="height: 60px;" class="primary"></div><pre><b>primary:</b> <small>#25B9D7</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="primary-hover"></div><pre><b>primary-hover:</b> <small>#3ED2F0</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="secondary"></div><pre><b>secondary:</b> <small>#FFBB00</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="secondary-hover"></div><pre><b>secondary-hover:</b> <small>#FFD100</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="dark-grey"></div><pre><b>dark-grey:</b> <small>#25B9D7</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="medium-grey"></div><pre><b>medium-grey:</b> <small>#3ED2F0</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="light-grey"></div><pre><b>light-grey:</b> <small>#FFBB00</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="soft-grey"></div><pre><b>soft-grey:</b> <small>#FFD100</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="white"></div><pre><b>white:</b> <small>#FFFFFF</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="notice"></div><pre><b>notice:</b> <small>#3ED2F0</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="success"></div><pre><b>success:</b> <small>#FFBB00</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="success-hover"></div><pre><b>success-hover:</b> <small>#FFD100</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="warning"></div><pre><b>warning:</b> <small>#25B9D7</small></pre></div>
// <div class="col-md-3"><div style="height: 60px;" class="warning-hover"></div><pre><b>warning-hover:</b> <small>#3ED2F0</small></pre></div>
//
// Styleguide 2.1

.primary {
    @include ps-color($primary);
}

.primary-hover {
    @include ps-color($primary-hover);
}

.secondary {
    @include ps-color($secondary);
}

.secondary-hover {
    @include ps-color($secondary-hover);
}

.dark-grey {
    @include ps-color($dark-grey);
}

.medium-grey {
    @include ps-color($medium-grey);
}

.light-grey {
    @include ps-color($light-grey);
}

.soft-grey {
    @include ps-color($soft-grey);
}

.white {
    @include ps-color($white);
}

.notice {
    @include ps-color($notice);
}

.success {
    @include ps-color($success);
}

.success-hover {
    @include ps-color($success-hover);
}

.warning {
    @include ps-color($warning);
}

.warning-hover {
    @include ps-color($warning-hover);
}
