// Dropdowns
//
// Styleguide 7

.dropdown {
    button {
        @extend .btn-sm;
        @extend .btn-secondary;

        &:hover { border-color: $dropdown-border-color-hover; }



    }
}

// The dropdown menu
.dropdown-menu {
    border-color: red;
}
