// Dropdowns
//
// Styleguide 6

// Dropdown 1
//
//
// Markup:
// <div class="dropdown">
//  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
//    <a class="dropdown-item" href="#">Action</a>
//    <a class="dropdown-item" href="#">Another action</a>
//    <a class="dropdown-item" href="#">Something else here</a>
//  </div>
//</div>
// Markup:
// <div class="dropdown open">
//  <button class="btn btn-tertiary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-// haspopup="true" aria-expanded="false">
//    Dropdown
//  </button>
//  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
//    <a class="dropdown-item" href="#">Action</a>
//    <a class="dropdown-item" href="#">Another action</a>
//    <a class="dropdown-item" href="#">Something else here</a>
//  </div>
//</div>
// <br/><br/><br/>
//
// Styleguide 6.1

//
// Dropdown 2
//
//
// Markup:
// <div class="ps-dropdown dropdown open">
//   <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
//     <span class="js-selected-item selected-item">Categories</span>
//     <i class="material-icons arrow-down pull-right">keyboard_arrow_down</i>
//   </div>
//   <div class="ps-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu1">
//     <ul class="items-list js-items-list">
//      <li><a class="dropdown-item" data-item="All">All<span>210</span></a></li>
//      <li><a class="dropdown-item" data-item="Category">Category<span>210</span></a></li>
//      <li><a class="dropdown-item" data-item="Category 2">Category 2<span>210</span></a></li>
//      <li><a class="dropdown-item" data-item="Category 3">Category 3<span>210</span></a></li>
//      <li><a class="dropdown-item" data-item="Category 4">Category 4<span>210</span></a></li>
//      <li><a class="dropdown-item" data-item="Category 5">Category 5<span>210</span></a></li>
//     </ul>
//   </div>
// </div>
// <script type="text/javascript">
//  $(document).ready(function(){
//   $('.js-items-list').on('click',function (e) {
//     $('.selected').removeClass('selected');
//     $('.js-selected-item').text($(e.target).data('item'));
//     $(e.target).addClass('selected');
//     e.stopPropagation();
//   });
// });
// </script>
//
// Styleguide 6.2

.ps-dropdown{
  font-size: 1em;
  border:$gray-light 1px solid;
  padding: .3em .5em;
  cursor: pointer;
  .arrow-down{
    font-size: 1.8em;
    position: relative;
    cursor: pointer;
  }
  > .ps-dropdown-menu{
    width: 100%;
    border-radius: 0;

    .dropdown-item{
      cursor: pointer;
      @include display(flex);
      @include justify-content(space-between);
    }
    .items-list{
      list-style-type: none;
      padding: 0;
      .dropdown-item{
        margin: em(10px) 0;
        &.selected{
          color: $gray-light;
        }
        &.selected span{
          color: $gray-light;
          border-color: $gray-light;
        }
        &:hover span {
          color: $white;
          border-color: $white;
        }
        span{
          color:$brand-info;
          border:$brand-info 1px solid;
          font-size: em(12px);
          padding: em(4px);
          border-radius: em(2px);
        }
      }
    }
  }
}
