// Forms
//
// Styleguide 5

// Inputs (width build on grid)
//
// Remember, since Bootstrap utilizes the HTML5 doctype, all inputs must have a type attribute.
//
// Markup:
// <fieldset class="form-group">
// <label class="form-control-label" for="exampleInput1">Input</label>
//  <input type="text" class="form-control" {{modifier_class}}></input>
// </fieldset>
// Markup:
// <fieldset class="form-group">
// <label class="form-control-label" for="exampleInput2">Input - Placeholder</label>
//  <input type="text" class="form-control" placeholder="Wake me up!"></input>
// </fieldset>
//
// Styleguide 5.1

.form-control {

    @include placeholder {
        font-style: $input-font-style;
        color: $input-color-placeholder;
    }
    @include border-radius($border-radius);
    @include ps-form-control-focus($primary-hover, $primary-hover);
}

// Form validation states
//
// success - Success
// warning - Warning
// danger - Error
//
// Markup:
// <div class="form-group has-{{modifier_class}}">
//  <label class="form-control-label" for="input{{modifier_class}}">Input {{modifier_class}}</label>
//  <input type="text" class="form-control form-control-{{modifier_class}}" id="input{{modifier_class}}">
// </div>
//
// Styleguide 5.2

.has-success {
    .form-control-success {
        @include ps-form-control-focus($brand-success, $brand-success);
        background-image: url($form-icon-success);
    }
}


.has-warning {
    .form-control-warning {
        @include ps-form-control-focus($brand-warning, $brand-warning);
        background-image: url($form-icon-warning);
    }
}

.has-danger {
    .form-control-danger {
        @include ps-form-control-focus($brand-danger, $brand-danger);
        background-image: url($form-icon-danger);
    }
}

// Select (Bootstrap)
//
// Markup:
// <select class="c-select {{modifier_class}}">
//   <option selected>Open this select menu</option>
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
// </select>
//
// Styleguide 5.3

// Dropdown
//
// Markup:
// <div class="row">
// <div class="col-md-6">
// <select data-toggle="select2">
//   <option selected>Open this select menu</option>
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
// </select>
// </div>
// <div class="col-md-6">
// <select data-toggle="select2" data-placeholder="Open this select menu" data-templateResult="formatData" data-templateSelection="formatRepo" multiple="multiple">
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
//   <option value="1">One</option>
//   <option value="2">Two</option>
//   <option value="3">Three</option>
// </select>
// </div>
// </div>
//
// Styleguide 5.4

.select2-container--prestakit {

    @import "scss/mixins/single";
    @import "scss/mixins/multiple";

//    width: 100% !important;
    .select2-search__field {
//        width: 100% !important;
    }

    .select2-search--dropdown {
        .select2-search__field {
            border: 1px solid $border-color;
            outline: 0;
            padding-right: ($input-padding-x * 3);
            background-repeat: no-repeat;
            background-position: center right ($input-height * .25);
            background-size: ($input-height * .65) ($input-height * .65);
            background-image: url($search-icon);
        }
    }

    .select2-search--inline {
        .select2-search__field {
            outline: 0;
            box-shadow: none;
            padding: 3px;
        }
    }

    .select2-dropdown {
        background-color: $dropdown-bg-color;
        border: 1px solid transparent;
    }

    .select2-dropdown--above {
        border-bottom: none;
    }

    .select2-dropdown--below {
        border-top: none;
    }

    .select2-results > .select2-results__options {
        max-height: $results-max-height;
        overflow-y: auto;
    }

    .select2-results__option {
        color: $medium-grey;
        &[role=group] {
            padding: 0;
        }

        &[aria-disabled=true] {
            color: $results-choice-fg-unselectable-color;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $results-choice-bg-hover-color;
        color: $results-choice-fg-hover-color;
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: 6px;
    }

    &.select2-container--open .select2-dropdown {
        border-color: $light-grey;
    }


}
