input,
label,
select {
  font-family: $font-family-sans-serif;
}

.form {
  font-family: $font-family-sans-serif;
  padding: 3.125rem;

  &.form-background {
    background-color: $background-color;
  }

  &.no-padding {
    padding: 0;
  }
}

.form-control-label {
  margin-bottom: 0.3125rem;
  color: $gray-dark;
  font-size: 0.875rem;
}

.form-text {
  font-size: 0.6875rem;
  float: right;
}

.form-control {
  font-size: 0.875rem;
  border-radius: 0;

  &.disabled,
  :disabled {
    color: $gray-medium;
  }
}

.form-control-feedback {
  margin-top: $form-feedback-margin-top;
  font-weight: $font-weight-bold;
  font-size: 0.6875rem;
}

.has-success,
.has-warning,
.has-danger {
  position: relative;

  .form-control-label {
    color: $gray-dark;
  }

  .form-control {
    background-image: none;
    padding-right: 1.5625rem;
  }

  &::after {
    font-family: 'Material Icons';
    content: '\E876';
    font-size: 1.20rem;
    font-weight: $font-weight-normal;
    position: absolute;
    right: 0.3125rem;
    bottom: 1.375rem;
  }

  &.form-group-lg {
    &::after {
      bottom: 1.6875rem
    }
  }
}

.has-success {
  &::after {
    content: '\E876';
    color: $brand-success;
  }
}

.has-warning {
  &::after {
    content: '\E001';
    color: $brand-warning;
  }
}

.has-danger {
  &::after {
    content: '\E001';
    color: $brand-danger;
  }
}

.form-check {
  color: $gray-dark;
  font-size: 0.875rem;

  .form-check-input {
    margin-left: 0
  }

  .form-check-label {
    padding-left: 0;
  }

  &.disabled,
  :disabled {
    .form-check-label {
      color: $gray-medium;
    }
  }
}
