.input-group {
    @include border-radius($input-border-radius);
}

// Forms
//
// Styleguide 5

// Inputs (width build on grid)
//
// Remember, since Bootstrap utilizes the HTML5 doctype, all inputs must have a type attribute.
//
// Markup:
// <fieldset class="form-group">
// <label class="form-control-label" for="exampleInput1">Input</label>
//  <input type="text" class="form-control" {{modifier_class}}></input>
// </fieldset>
// Markup:
// <fieldset class="form-group">
// <label class="form-control-label" for="exampleInput2">Input - Placeholder</label>
//  <input type="text" class="form-control" placeholder="Wake me up!"></input>
// </fieldset>
//
// Styleguide 5.1

.form-control {

    @include placeholder {
        font-style: $input-font-style;
        color: $input-color-placeholder;
    }
    @include border-radius($input-border-radius);
    @include ps-form-control-focus($primary-hover, $primary-hover);
}


// Form validation states
//
// success - Success
// warning - Warning
// danger - Error
//
// Markup:
// <div class="form-group has-{{modifier_class}}">
//  <label class="form-control-label" for="input{{modifier_class}}">Input {{modifier_class}}</label>
//  <input type="text" class="form-control form-control-{{modifier_class}}" id="input{{modifier_class}}">
// </div>
//
// Styleguide 5.2

.has-success {
    .form-control-success {
        @include ps-form-control-focus($brand-success, $brand-success);
        background-image: url($form-icon-success);
    }
}


.has-warning {
    .form-control-warning {
        @include ps-form-control-focus($brand-warning, $brand-warning);
        background-image: url($form-icon-warning);
    }
}

.has-danger {
    .form-control-danger {
        @include ps-form-control-focus($brand-danger, $brand-danger);
        background-image: url($form-icon-danger);
    }
}

// Input groups
//
// Markup:
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon1">@</span>
//   <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
//   <span class="input-group-addon" id="basic-addon2">@example.com</span>
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <span class="input-group-addon">$</span>
//   <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
//   <span class="input-group-addon">.00</span>
// </div>
// <br>
// Markup:
// <label for="basic-url">Your vanity URL</label>
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
//   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
// </div>
//
// Styleguide 5.3

input-group-addon {
    color: $input-group-addon-color;
}

// Select
//
// Markup:
// <div class="form-group">
//   <fieldset class="form-group">
//    <label for="exampleSelect1">Example select</label>
//    <select class="form-control" id="exampleSelect1">
//      <option class="select-item">1</option>
//      <option class="select-item">2</option>
//      <option class="select-item">3</option>
//      <option class="select-item">4</option>
//      <option class="select-item">5</option>
//    </select>
//  </fieldset>
// </div>
//
// Styleguide 5.4
.form-group {
    select {
        /* -webkit-appearance: none; */
        /* -moz-appearance: none; */
        /* appearance: none; */

        /* &::-ms-expand { */
        /*     display: none; */
        /* } */


        .select-item {
            @extend .dropdown-item;
            @include border-radius($border-radius);

            border: red 1px solid;
            background-color: $soft-grey;
        }

    }
}
