// Images
//
// Button styles can be applied to anything with the `.btn` class applied.
// However, typically you'll want to apply these to only `<a>` and `<button>` elements for the best rendering.
//
// Styleguide 3

// Shapes
//
// Styleguide 3.1


.banner-hori {
    width: $banner-hori-x;
    height: $banner-hori-y;
}

.ps-banner-vert {
    width: $banner-vert-x;
    height: $banner-vert-y;    
}

.ps-avatar {
    width:  $avatar-size-base;
    height: $avatar-size-base;
}

.ps-avatar-lg {
    width:  $avatar-size-lg;
    height: $avatar-size-lg;
}

.ps-avatar-sm {
    width:  $avatar-size-sm;
    height: $avatar-size-sm;
}

.ps-avatar-xs {
    width:  $avatar-size-xs;
    height: $avatar-size-xs;
}