// Input groups
//
// Styleguide 5

// Basic example
//
// Markup:
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon1">@</span>
//   <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
//   <span class="input-group-addon" id="basic-addon2">@example.com</span>
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <span class="input-group-addon">$</span>
//   <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
//   <span class="input-group-addon">.00</span>
// </div>
// <br>
// Markup:
// <label for="basic-url">Your vanity URL</label>
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
//   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
// </div>
//
// Styleguide 5.1

// Seach Form
//
// Markup:
// <form id="demo-2">
// 	<input type="search" class="form-control" placeholder="Search">
// </form>
//
// Styleguide 5.2

input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	width: 11px;
  cursor: pointer;
	text-indent: 2.5rem;

	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
	box-sizing: content-box;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

  &:hover {
      border-color: $primary;
  }

  &:focus {
	    width: 200px;
	    background-color: #fff;
      padding-left: 32px;
      cursor: auto;
	    text-indent: 0;
			
	    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	    box-shadow: 0 0 5px rgba(109,207,246,.5);

  }
}

input:-moz-placeholder {
	  color: #999;
    color: transparent;
}
input::-webkit-input-placeholder {
	  color: #999;
	  color: transparent;
}
