.input-group {
  .input-group-addon {
    color: $input-border-color;
  }
  .form-control {

    &:not(:first-child) {
      border-left: none;
    }

    &:not(:last-child) {
      border-right: none;
    }
  }
}

.form-search[type=search] {
  background: $white url($search-icon) center no-repeat;
  border: solid 1px #ccc;
  width: 16px;
  cursor: pointer;
  text-indent: 2.5rem;
  box-sizing: content-box;
  @include border-radius(10em);
  transition: all .5s;

  .input-group & {
    @include border-radius(10em);
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    background: $white url($search-icon) 95% no-repeat;
    border-color: $primary;
    width: 250px;
    cursor: auto;
    text-indent: 0;
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  }
}

.form-search {
  &::placeholder{
    color: #999;
    color: transparent;
  }
}

.dropdown-form {
  .dropdown-form-search {
    border: none;
    @include border-radius(10em);
    background: transparent url($search-icon) center no-repeat;
    cursor: pointer;
    height: 1.875rem;
    font-size: 0.8125rem;
    text-indent: 0.625rem;
    &::placeholder {
      visibility: hidden;
    }
  }
  .input-group {
    border: solid 1px $gray-light;
    width: 2rem;
    @include border-radius(10em);
    transition: all .5s;
    &:hover {
      border-color: $primary;
    }
  }
  &.expanded .input-group {
    width: 37.5rem;
    .form-control:not(:last-child) {
      border-right: solid 1px $gray-light;
    }
  }
  &.expanded .input-group-addon {
    display: flex;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    -webkit-animation: fadeIn 1.0s ease-in;
    animation: fadeIn 1.0s ease-in;
  }
  &.expanded .dropdown-form-search {
    background: none;
    cursor: text;
    &::placeholder {
      visibility: visible;
    }
  }
  .dropdown-toggle {
    color: $gray-medium;
    cursor: pointer;
  }
  .dropdown-menu {
    margin-top: 0.9375rem;
    margin-left: -0.625rem;
  }
  .input-group-addon {
    border: none;
    &.search-bar {
      border-bottom-right-radius: 10em;
      border-top-right-radius: 10em;
      background: $primary;
      color: $white;
      width: 7.5rem;
      button {
        background: transparent;
        border: none;
        color: $white;
        text-transform: uppercase;
      }
      .material-icons {
        vertical-align: bottom;
        margin-left: 0.3125rem;
        font-size: 1.125rem;
        padding-top: 0.125rem;
      }
    }
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
