// Input groups
//
// Styleguide 5

// Basic example
//
// Markup:
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon1">@</span>
//   <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
//   <span class="input-group-addon" id="basic-addon2">@example.com</span>
// </div>
// <br>
// Markup:
// <div class="input-group">
//   <span class="input-group-addon">$</span>
//   <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
//   <span class="input-group-addon">.00</span>
// </div>
// <br>
// Markup:
// <label for="basic-url">Your vanity URL</label>
// <div class="input-group">
//   <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
//   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
// </div>
//
// Styleguide 5.1

.input-group {
  .input-group-addon {
    color: $input-group-addon-color;
  }
  .form-control:not(:first-child) {
    border-left: none;
  }
  .form-control:not(:last-child) {
    border-right: none;
  }
}

// Seach Form
//
// Markup:
// <form id="demo-2">
//  <input type="search" class="form-control form-search">
// </form>
//
// Styleguide 5.2

.form-search[type=search] {
  background: $white url($search-icon) center no-repeat;
  border: solid 1px #ccc;
  width: 16px;
  cursor: pointer;
  text-indent: 2.5rem;
  box-sizing: content-box;
  @include border-radius(10em);
  transition: all .5s;

  .input-group & {
    @include border-radius(10em);
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    background: $white url($search-icon) 95% no-repeat;
    border-color: $primary;
    width: 250px;
    cursor: auto;
    text-indent: 0;
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
}

.form-search {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: #999;
    color: transparent;
  }
}

// Seach Form with dropdown
//
// Markup:
// <form class="dropdown-form js-dropdown-form">
//   <div class="input-group">
//     <input type="search" class="form-control dropdown-form-search js-form-search" placeholder="Search (e.g.: product reference, customer name…)">
//     <div class="input-group-addon">
//       <div class="dropdown">
//         <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
//          Everywhere
//         </span>
//         <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
//           <a class="dropdown-item" href="#">Action</a>
//           <a class="dropdown-item" href="#">Another action</a>
//           <a class="dropdown-item" href="#">Something else here</a>
//         </div>
//        </div>
//      </div>
//      <div class="input-group-addon search-bar"><button type="submit">SEARCH<i class="material-icons">search</i></button></div>
//    </div>
// </form>
//
// Styleguide 5.3

.dropdown-form {
  .dropdown-form-search {
    border: none;
    @include border-radius(10em);
    background: transparent url($search-icon) center no-repeat;
    cursor: pointer;
    height: 1.875rem;
    font-size: 0.8125rem;
    text-indent: 0.625rem;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      visibility: hidden;
    }
  }
  .input-group {
    border: solid 1px $gray-light;
    width: 2rem;
    @include border-radius(10em);
    transition: all .5s;
    &:hover {
      border-color: $primary;
    }
  }
  &.expanded .input-group {
    width: 37.5rem;
    .form-control:not(:last-child) {
      border-right: solid 1px $gray-light;
    }
  }
  &.expanded .input-group-addon {
    display: table-cell;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    -webkit-animation: fadeIn 1.0s ease-in;
    animation: fadeIn 1.0s ease-in;
  }
  &.expanded .dropdown-form-search {
    background: none;
    cursor: text;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      visibility: visible;
    }
  }
  .dropdown-toggle {
    color: $gray-medium;
    cursor: pointer;
  }
  .dropdown-menu {
    margin-top: 0.9375rem;
    margin-left: -0.625rem;
  }
  .input-group-addon {
    border:none;
    &.search-bar {
      border-bottom-right-radius: 10em;
      border-top-right-radius: 10em;
      background: $primary;
      color:$white;
      width: 7.5rem;
      button{
        background: transparent;
        border:none;
      }
      .material-icons{
        vertical-align: bottom;
        margin-left: 0.3125rem;
        font-size: 1.125rem;
        padding-top: 0.125rem;
      }
    }
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
