// ==========================================================================
// links
// ==========================================================================

.lnk {
    @include ui-colors($ui-colors);
}

[class^="lnk--"] {

    @include mq(medium) {
        width: auto;
        display: inline-block;
    }

    @include mq(small) {
        width: 100%;
        color: blue;
    }
}
