// Lists
//
// Markup:
// <ul>
//   <li>Lorem ipsum dolor sit amet</li>
//   <li>Consectetur adipiscing elit</li>
//   <li>Integer molestie lorem at massa</li>
//   <li>Facilisis in pretium nisl aliquet</li>
//   <li>Nulla volutpat aliquam velit
//     <ul>
//       <li>Phasellus iaculis neque</li>
//       <li>Purus sodales ultricies</li>
//       <li>Vestibulum laoreet porttitor sem</li>
//       <li>Ac tristique libero volutpat at</li>
//     </ul>
//   </li>
//   <li>Faucibus porta lacus fringilla vel</li>
//   <li>Aenean sit amet erat nunc</li>
//   <li>Eget porttitor lorem</li>
// </ul>
// <ol>
//   <li>Lorem ipsum dolor sit amet</li>
//   <li>Consectetur adipiscing elit</li>
//   <li>Integer molestie lorem at massa</li>
//   <li>Facilisis in pretium nisl aliquet</li>
//   <li>Nulla volutpat aliquam velit</li>
//   <li>Faucibus porta lacus fringilla vel</li>
//   <li>Aenean sit amet erat nunc</li>
//   <li>Eget porttitor lorem</li>
// </ol>
//
// Styleguide 1.3

ul {
    color: #FF00FF;
}

ol {
    color: #FF00FF;
}
