// List group
//
// Styleguide 17

// List Group
//
// Markup:
// <div class="list-group">
//   <a href="#" class="list-group-item disabled">
//     Cras justo odio
//   </a>
//   <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
//   <a href="#" class="list-group-item">Morbi leo risus</a>
//   <a href="#" class="list-group-item">Porta ac consectetur ac</a>
//   <a href="#" class="list-group-item">Vestibulum at eros</a>
// </div>
//
// Styleguide 17.1
