.modal-content {
  padding: 12px;
}

.modal-title {
  color: $gray-dark;
  font-size: $font-size-h1;
  font-weight: 600;
}

.modal-header .close {
  font-size: 2.3rem;
  font-weight: 400;
  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
