// Modules Cards
//
// Styleguide 16

// Modules Cards Grid
//
// Markup:
// <div class="module-item-wrapper-grid v2">
//     <div class="module-item-heading-grid" data-toggle="modal" data-target="#module-modal-read-more-webcallback">
//         <img class="module-logo-thumb-grid" src="http://addons-media.prestashop.com/img/pico/3162.jpg" alt="Call Back">
//         <h1 class="text-ellipsis module-name-grid" data-toggle="tooltip" data-placement="top" title="" data-original-title="Call Back">
//             Call Back
//         </h1>
//         <div class="text-ellipsis x-small-text module-version-author-grid">
//             v1.0.3 by <a href="#">PrestaShop</a>
//         </div>
//     </div>
//     <div class="module-quick-description-grid no-padding">
//         Organic man bun trust fund bushwick, retro plaid messenger bag blog etsy occupy before they sold out scenester fingerstache selvage pinterest
//         <div class="module-read-more-grid">
//             <a class="module-read-more-grid-btn" href="#" data-toggle="modal" data-target="#module-modal-read-more-webcallback">Read More</a>
//         </div>
//     </div>
//     <div class="module-quick-action-grid clearfix">
// <button id="test" class="btn btn-primary-outline btn-lg pull-xs-right">199.99 €</button>
//  <script type="text/javascript">
// $(document).ready(function(){
//     $("#test").psdwl({
//         text: "€199,99",
//         hover: "Discover",
//         default: false
//     });}
// ()); 
// </script>
//     </div>
// </div>
//
//
// Styleguide 16.1

.module-item-wrapper-grid.v2 {
    @extend .card;
    @extend .card-block;

    .module-item-heading-grid {
        position: relative;

        .module-logo-thumb-grid {
            width: 45px;
            height: 45px;
            float: left;
            vertical-align: 0;

            @include border-radius($border-radius);
        }

        .module-name-grid {
            @extend .card-title;

            position: relative;
            margin: 0 57px;
            margin-bottom: .5em;
        }

        .module-version-author-grid {
            @extend .card-title;

            margin: 0 57px;
            position: relative;
            margin-bottom: .5em;
        }
    }

    .module-quick-action-grid {
        postion: relative;
    }

    .module-quick-description-grid {
        margin: 15px 0;
    }
}
