.modal {
  background-color: #eff1f2;

  .modal-content {
    padding: 0.9375rem;
    box-shadow: 1px 2px 3px 0 rgba(108, 134, 142, 0.3);
    border: none;
    @include border-radius(0);

    .modal-header {
      border-bottom: none;

      .modal-title {
        @extend h1;
        margin-bottom: 0;
      }

      @include close-button();
    }

    .modal-body {
      p:last-child {
        margin-bottom: 0;
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}
