// Modules Cards
//
// Styleguide 13

// Modules Cards Grid
//
// Markup:
// <div class="row">
//     <div class="col-sm-6">
//         <div class="module-item-wrapper-grid">
//             <div class="module-item-heading-grid" data-toggle="modal" data-target="#module-modal-read-more-webcallback">
//                 <img class="module-logo-thumb-grid" src="http://addons-media.prestashop.com/img/pico/3162.jpg" alt="Call Back">
//                 <h3 class="text-ellipsis module-name-grid" data-toggle="tooltip" data-placement="top" title="" data-original-title="Call Back">
//                     Call Back
//                 </h3>
//                 <div class="text-ellipsis xsmall module-version-author-grid">
//                     v1.0.3 by <a class="url" href="#">PrestaShop</a>
//                 </div>
//             </div>
//             <div class="module-quick-description-grid small no-padding">
//                 Organic man bun trust fund bushwick, retro plaid messenger bag blog etsy occupy before they sold out scenester fingerstache selvage pinterest
//                 <div class="module-read-more-grid">
//                     <a class="module-read-more-grid-btn url" href="#" data-toggle="modal" data-target="#module-modal-read-more-webcallback">Read More</a>
//                 </div>
//             </div>
//             <div class="module-container">
//             <div class="module-star-ranking-grid-3">
//             ( 42 )
//             </div>
//             <div class="module-quick-action-grid clearfix">
//                 <button id="test1" class="btn btn-primary btn-sm pull-xs-right">199.99 €</button>
//             </div>
//             </div>
//         </div>
//     </div>
//     <div class="col-sm-6">
//         <div class="module-item-wrapper-grid">
//             <div class="module-item-heading-grid" data-toggle="modal" data-target="#module-modal-read-more-webcallback">
//                 <img class="module-logo-thumb-grid" src="http://addons-media.prestashop.com/img/pico/3162.jpg" alt="Call Back">
//                 <h3 class="text-ellipsis module-name-grid" data-toggle="tooltip" data-placement="top" title="" data-original-title="Call Back">
//                     Call Back
//                 </h3>
//                 <div class="text-ellipsis xsmall-text module-version-author-grid">
//                     v1.0.3 by <a class="url" href="#">PrestaShop</a>
//                 </div>
//             </div>
//             <div class="module-quick-description-grid small no-padding">
//                 Organic man bun trust fund bushwick, retro plaid messenger bag blog etsy occupy before they sold out scenester fingerstache selvage pinterest
//                 <div class="module-read-more-grid">
//                     <a class="module-read-more-grid-btn url" href="#" data-toggle="modal" data-target="#module-modal-read-more-webcallback">Read More</a>
//                 </div>
//             </div>
//             <div class="module-star-ranking-grid-45">
//             ( 42 )
//             </div>
//             <div class="module-quick-action-grid clearfix">
//                 <button id="test2" class="btn btn-primary btn-sm pull-xs-right">Free</button>
//             </div>
//         </div>
//     </div>
// </div>
// <script type="text/javascript">
// $(document).ready(function(){
//     $("#test1").psdwl({
//         text: "€199,99",
//         hover: "Install",
//     });
//     $("#test2").psdwl({
//         hover: "Discover",
//     });
// });
// </script>
//
// Styleguide 13.1

.module-item-wrapper-grid {
    @extend .card;
    @extend .card-block;

    .module-item-heading-grid {
        position: relative;

        .module-logo-thumb-grid {
            width: $module-logo-size;
            height: $module-logo-size;
            float: left;
            vertical-align: 0;

            @include border-radius($border-radius);
        }

        .module-name-grid {
            @extend .card-title;
            position: relative;
            margin: 0 57px;
        }

        .module-version-author-grid {
            @extend .card-title;

            margin: 0 57px;
            position: relative;
        }

        .module-read-more-grid-btn {
            float: left;
        }
    }

    .module-container {
        text-align:center;
    }

    .module-star-ranking-grid {
        @include stars($ps-stars);
    }

    .module-quick-action-grid {
        display :inline;
        .light-button{
          font-size: rem(10px);
          padding: rem(8px);
        }
    }

    .module-quick-description-grid {
        margin: 15px 0;
    }
}
