.nav-tabs {
  background-color: inherit;

  .nav-item {
    margin-bottom: -2px;
  }

  .nav-link {
    font-weight: $font-weight-normal;
    background-color: inherit;
    color: $gray-medium;
    padding: 1em 2.5em;
    border: 0;
    @include border-radius(0);
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      border-top: 3px solid $nav-tabs-active-link-hover-border-color;
      background-color: $nav-tabs-active-link-hover-bg;
      color: $nav-tabs-active-link-hover-color;
      font-weight: $font-weight-normal;
      padding: 0.75em 2.5em 1em 2.5em;
    }
  }

  &.bordered {
    border-bottom: 0;

    .nav-link.active,
    .nav-item.open .nav-link {
      border-left: 1px solid $primary-border-color;
      border-right: 1px solid $primary-border-color;
    }
  }
}

.tab-content {
  background-color: $body-bg;
  padding: 20px;

  &.bordered {
    border: solid 1px $primary-border-color;
  }
}

.navbar {
  background-color: #fff;
  width: 100%;

  &.navbar-light {
    padding-bottom: 0;

    .navbar-nav {

      .nav-link {
        color: $navbar-light-color;
        height: 100%;
      }
    }
  }

  .navbar-nav {

    background-color: #fff;
    margin-left: 10px;

    .nav-link {
      font-weight: $font-weight-normal;
      background-color: #fff;
      color: $gray-medium;
      padding: 1em 2.5em;
      @include border-radius(0);

      + .nav-link {
        margin-left: 0;
      }
    }

    .nav-link.active,
    .nav-item.active .nav-link {
      @include plain-hover-focus {
        border-bottom: 3px solid $nav-tabs-active-link-hover-border-color;
        background-color: $body-bg;
        color: $gray-dark;
        font-weight: $font-weight-semibold;
        padding: 0.75em 2.5em 1em 2.5em;
      }
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }

    &.navbar-separator:after {
      content: " ";
      left: 0;
      bottom: 0;
      display: table-cell;
      border-bottom: 1px solid $gray-light;
      position: absolute;
      width: 100%;
    }
  }
}

.subheader {
  @extend .navbar;
  @extend .navbar-light;
  padding: 0 1.25em;
  flex-direction: row;
  flex-wrap: wrap;

  .breadcrumb {
    background-color: transparent;
    flex: 0 1 100%;
  }

  .subheader-title {
    font-size: $font-size-h1;
    font-weight: $font-weight-semibold;
    display: inline-block;
  }

  .subheader-quicknav {
    @extend .navbar-nav;
    @extend .nav;

    flex-direction: row;
  }

  .subheader-navbar {
    @include float-left;
    @extend .navbar-nav;
    @extend .nav;
    width: 100%;
  }

  .navbar-nav {
    &.navbar-separator:after {
      border-bottom: 0;
    }
  }
}

.subheader-quicknav {

  .subheader-quicknav-item {
    @extend .nav-item;
    text-align: center;
    line-height: 1em;

    .subheader-quicknav-link {
      display: block;
      font-weight: 400;
      background-color: #fff;
      color: $gray-medium;
      padding: 0 .65em;
      border-radius: 0;
    }

    > i,
    .material-icons {
      font-size: 1.875rem;
    }
  }
}
