.popover {
  color: $white;
}

.popover-content {
  color: $white;
}

.popover-title {
  color: $white;
  border-bottom: none;
  background-color: $gray-dark;

  .close {
    color: $white;
    opacity: 0.8;
  }
}

