// Popovers
//
// Markup:
// <div><button id="popovers" type="button" class="btn btn-tertiary">Click to toggle popover</button></div>
// <script class="text/javascript">
//     $( document ).ready( function () {
//          $("#popovers").popover({
//               placement: 'right',
//               html: true,
//               trigger: 'focus',
//               title: 'Popover title'+
//                      '<button type="button" id="close" class="close" onclick="$(&quot;#popovers&quot;).popover(&quot;hide&quot;);">&times;</button>',
//               content: 'And here\'s some amazing content. It\'s very engaging. Right? <a href=\'#\'>PrestaShop</a>'
//          });
//      });
// </script>
//
// Styleguide 12.3

.popover {
    color: $white;
}

.popover-content {
    color: $white;
}

.popover-title {
    color: $white;
    border-bottom: none;
    background-color: $gray-dark;

    .close {
        color: $white;
        opacity: 0.8;
    }
}

