// =============================================================================
// Prestakit Theme Styles
// =============================================================================

// Grid display background colors

$prestakit-grid: (
        grid__col--12 : #25B9D7,
        grid__col--11 : #3ED2F0,
);

// Generate Prestakit grid display classes

@each $value, $color in $prestakit-grid {
  .theme__prestakit .#{$value} {
    background-color: $color;
  }
}
