.progress[width^="0"] {
  min-width: 2rem;
  color: $gray-light;
  background-color: transparent;
  background-image: none;
}

.progress[width="100%"] {
  border-top-right-radius: $progress-border-radius;
  border-bottom-right-radius: $progress-border-radius;
}

.progress[value]::-webkit-progress-bar {
  border-radius: $progress-border-radius;

  @include border-radius($progress-border-radius);
  @include box-shadow(inset 0 .1rem .1rem rgba(0, 0, 0, .1));
}

.progress[value]::-webkit-progress-value::before {
  content: attr(value);
}

.progress[value]::-webkit-progress-value {
  background-color: $white;
  border-radius: $progress-border-radius;
}

.progress[value="100"]::-webkit-progress-value {
  border-top-right-radius: $progress-border-radius;
  border-bottom-right-radius: $progress-border-radius;
}

.progress-primary {
  &[value]::-webkit-progress-value {
    background-color: $progress-bar-bg;
  }

  &[value]::-webkit-progress-bar {
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: $progress-border-radius;
  }

  &[value]::-moz-progress-bar {
    background-color: $progress-bar-bg;
  }

  // IE9
  @media screen and (min-width:0\0) {
    .progress-bar {
      background-color: $progress-bar-bg;
    }
  }
}

.progress-dark {
  &[value]::-webkit-progress-value {
    background-color: $progress-bar-bg;
  }

  &[value]::-moz-progress-bar {
    background-color: $progress-bar-bg;
  }

  &[value]::-webkit-progress-bar {
    background-color: $gray-dark;
  }

  // IE9
  @media screen and (min-width:0\0) {
    .progress-bar {
      background-color: $progress-bar-bg;
    }
  }
}
