// Spinner
//
// Styleguide 13

// Loading
//
// Dynamic Mode
//
// Markup:
// <div class="loading-spinner"><div class="dot1"></div><div class="dot2"></div><div class="dot3"></div></div>
//
// Styleguide 13.1

.loading-spinner {
    position : absolute;
}

.dot {
    position      : absolute;
    background    : black;
    border-radius : 100%;
    color         : white;
    height        : 8px;
    width         : 8px;
}

.dot1 {
    @extend .dot;
    -webkit-animation : dotOneKeyframes 5s ease  infinite;
    background        : #24ABCE;
    top               : 0;
    left              : 0;
}

.dot2 {
    @extend .dot;
    -webkit-animation : dotTwoKeyframes 5s ease 0.4166666666666s infinite;
    background        : #D40054;
    top               : 0;
    left              : 14px;
}

.dot3 {
    @extend .dot;
    -webkit-animation : dotThreeKeyframes 5s ease 0.83333333333s infinite;
    background        : #F8AE1C;
    top               : 14px;
    left              : 14px;
}

@-webkit-keyframes dotOneKeyframes {
    0% { top  : 0; left : 0; }
    8.3333333333% { top  : 14px; left : 0; }
    16.6666666666% { }
    25% { top  : 14px; left : 0; }
    33.3333333333% { top  : 14px; left : 14px; }
    41.6666666666% { }
    50% { top  : 14px; left : 14px; }
    58.3333333333% { top  : 0; left : 14px; }
    66.6666666666% { }
    75% { top  : 0; left : 14px; }
    83.3333333333% { top  : 0; left : 0; }
    91.6666666666% { }
    100% { }
}

@-webkit-keyframes dotTwoKeyframes {
    0% { top  : 0; left : 14px;  }
    8.3333333333% { top  : 0; left : 0; }
    16.6666666666% { }
    25% { top  : 0; left : 0; }
    33.3333333333% { top  : 14px; left : 0; }
    41.6666666666% { }
    50% { top  : 14px; left : 0; }
    58.3333333333% { top  : 14px; left : 14px; }
    66.6666666666% { }
    75% { top  : 14px; left : 14px; }
    83.3333333333% { top  : 0; left : 14px; }
    91.6666666666% { }
    100% { }
}

@-webkit-keyframes dotThreeKeyframes {
    0% { top  : 14px; left : 14px;  }
    8.3333333333% { top  : 0; left : 14px; }
    16.6666666666% { }
    25% { top  : 0; left : 14px; }
    33.3333333333% { top  : 0; left : 0; }
    41.6666666666% { }
    50% { top  : 0; left : 0; }
    58.3333333333% { top  : 14px; left : 0; }
    66.6666666666% { }
    75% { top  : 14px; left : 0; }
    83.3333333333% { top  : 14px; left : 14px; }
    91.6666666666% { }
    100% { }
}

// Download
//
// Static Mode
// <div class="row">
// <div class="col-md-3"><button class="btn btn-primary-reverse btn-lg unbind">€ 199.99</button></div>
// <div class="col-md-3"><button class="btn btn-primary btn-lg unbind">install</button></div>
// <div class="col-md-3"><button class="btn btn-primary-reverse onclic btn-lg unbind"></button></div>
// <div class="col-md-3"><button style="width: 94px" class="btn btn-primary btn-lg unbind"><i class="zmdi zmdi-check"></i></button></div>
// </div>
//
// Dynamic Mode
//
// Markup:
// <div class="row">
// <div style="text-align:center;" class="col-md-6"><button id="psdwl" class="btn btn-primary btn-lg">€ 199,99</button></div>
// <div style="text-align:center;" class="col-md-6"><button id="psdwl-2" class="btn btn-primary btn-lg"></button></div>
// </div>
// <script class="text/javascript">
//     $( document ).ready( function () {
//     $("#psdwl").psdwl({});   $("#psdwl-2").psdwl({
//                                text: '€199,99',
//                                hover: 'discover',
//                                default: false
//                              });
//      });
// </script>
//
// Styleguide 13.2

.unbind {
    margin-left: 15%;
}

.onclic {
    color: white;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-color: #E6E8EB;
    border-width: 3px;
    font-size: 0;
    outline: none;
    border-left-color: #25B9D7;
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;

    &:hover,
    &.hover {
        outline: none;
        color: #fff;
        background-color: #fff;
        border-color: #E6E8EB;
        border-left-color: #25B9D7;
    }

    &:focus,
    &.focus {
        outline: none;
        color: #fff;
        background-color: #fff;
        border-color: #E6E8EB;
        border-left-color: #25B9D7;
    }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
