// Tables
//
// Styleguide 14

// Basic example
//
// Markup:
// <table class="table">
//   <thead>
//     <tr>
//       <th>#</th>
//       <th>First Name</th>
//       <th>Last Name</th>
//       <th>Username</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <th scope="row">1</th>
//       <td>Mark</td>
//       <td>Otto</td>
//       <td>@mdo</td>
//     </tr>
//     <tr>
//       <th scope="row">2</th>
//       <td>Jacob</td>
//       <td>Thornton</td>
//       <td>@fat</td>
//     </tr>
//     <tr>
//       <th scope="row">3</th>
//       <td>Larry</td>
//       <td>the Bird</td>
//       <td>@lmfao</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 14.1

.table {

  tbody {
    border: 2px solid $gray-light;
  }

  th, td {
    font-weight: 400;
    color: $gray-dark;
    border: none;
  }

  thead {
    border: 2px solid $gray-light;
    th {
      font-weight: 600;
      color: $gray-medium;
      border-top: 2px solid $gray-light;
      border-bottom: 2px solid $gray-light;
    }
  }
}
