.pstaggerAddTagInput,
.pstaggerTagsWrapper {
  @include reset-text();

  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  padding: .375rem $input-padding-x;
  color: $input-color-placeholder;
  width: 100%;
  min-height: $input-height;
  height: inherit;

  @include border-radius($border-radius);

  .pstaggerTag {
    font-size: 1rem;
    margin: 0 .156rem;
    position: relative;
    height: $input-height - ($input-padding-y * 2);
    padding: 0 8px;
    color: $white;
    text-align: center;
    background-color: $primary-hover;

    @include border-radius($border-radius);

    & a {
      color: $gray-dark;
    }
  }
}
