// Tooltips
//
// Inspired by the excellent Tipsy jQuery plugin written by Jason Frame.
//
// Styleguide 12

// Static demo
//
// Four options are available: top, right, bottom, and left aligned.
// <div class="row">
// <div class="col-md-6"><div class="tooltip-arrow"></div><div class="tooltip-inner">Default Tooltip</div></div>
// <div class="col-md-6"><div class="tooltip-error"><div class="tooltip-arrow"></div><div class="tooltip-inner">Error Message</div></div></div>
// </div>
//
// Styleguide 12.1

// Interactive demo
//
// Markup:
// <div class="row">
// <div class="col-md-3"><button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button></div>
// <div class="col-md-3"><button type="button" class="btn" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button></div>
// <div class="col-md-3"><button type="button" class="btn" data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Tooltip on right</button></div>
// <div class="col-md-3"><button type="button" class="btn" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"> Tooltip on bottom</button></div>
// </div>
//
// Styleguide 12.2


.tooltip-error {
        .tooltip-inner {
            background-color: #efc8cb;
            color: #c45c67;
        }

        .tooltip-arrow {
            border-top-color: #efc8cb !important;
        }
}