// Tree
//
// Styleguide 18

// Option tree
//
// Markup:
// <ul class="option-tree" data-toggle="option-tree">
//     <li>
//         <label>
//             <input type="radio" name="radio-name" value="1"> Femmes
//         </label>
//         <ul>
//             <li>
//                 <label>
//                     <input type="radio" name="radio-name" value="1"> Tops
//                 </label>
//                 <ul>
//                     <li>
//                         <label>
//                             <input type="radio" name="radio-name" value="1"> T-shirts
//                         </label>
//                     </li>
//                     <li>
//                         <label>
//                             <input type="radio" name="radio-name" value="1"> Chemisiers
//                         </label>
//                     </li>
//                 </ul>
//             </li>
//             <li>
//                 <label>
//                     <input type="radio" name="radio-name" value="1"> Robes
//                 </label>
//                 <ul>
//                     <li>
//                         <label>
//                             <input type="radio" name="radio-name" value="1"> Robes décontractées
//                         </label>
//                     </li>
//                     <li>
//                         <label>
//                             <input type="radio" name="radio-name" value="1"> Robes de soirée
//                         </label>
//                     </li>
//                     <li>
//                         <label>
//                             <input type="radio" name="radio-name" value="1"> Robes d'été
//                         </label>
//                     </li>
//                 </ul>
//             </li>
//         </ul>
//     </li>
// </ul>
//
// Styleguide 18.1

.option-tree {
  list-style: none;
  padding: 0;

  ul {
    display: none;
    list-style: none;
    padding: 0 0 0 20px;
  }

  .no-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: -2px;
    vertical-align: middle;
  }

  .open-button {
    @extend .no-button;
    color: $medium-grey;
    cursor: pointer;

    &.closed {
      color: $primary;
    }
  }
}
