h1 {
  font-weight: $font-weight-semibold;
  color: $gray-dark;
}

h2 {
  font-weight: $font-weight-semibold;
  color: $gray-dark;
}

h3 {
  font-weight: $font-weight-bold;
  color: $gray-dark;
}

h4 {
  font-weight: $font-weight-semibold;
  color: $gray-medium;
}

h1, h2, h3, h4 {
  margin-bottom: $grid-gutter-width / 2;
}

.url {
  font-weight: $font-weight-semibold;
}

.font-primary {
  font-weight: $font-weight-normal;
  color: $gray-dark;
}

.font-secondary {
  font-weight: $font-weight-normal;
  color: $gray-medium;
}

sm, small {
  @extend .font-primary;
  font-size: $font-size-sm;
  line-height: 1.1rem;
}

xs, xsmall {
  @extend .font-primary;
  font-size: $font-size-xs;
  line-height: 1.1rem;
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.sm, .small {
  @extend sm;
}

.xs, .xsmall {
  @extend xs;
}
