// Content
//
// Styleguide 1

// Headings
//
// Heading 1
// Markup:
// <h1> The quick brown fox jumps over the lazy dog </h1>
// Heading 2
// Markup:
// <h2> The quick brown fox jumps over the lazy dog </h2>
// Heading 3
// Markup:
// <h3> The quick brown fox jumps over the lazy dog </h3>
// Heading 4
// Markup:
// <h4> The quick brown fox jumps over the lazy dog </h4>
//
// Styleguide 1.1

// Paragraphs
//
// p - Normal
// small - Small Text
// xsmall - Extra Small Text
//
// Markup:
// <p class="{{modifier_class}}"> Enim nunc, faucibus a pellentesque sit amet, porttitor eget dolor morbi non arcu risus, quis varius quam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget! <a href="#"> And this is a link</a></p>
// <p class="{{modifier_class}} font-secondary">Enim nunc, faucibus a pellentesque sit amet, porttitor eget dolor morbi non arcu risus, quis varius quam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget!<a href="#"> And this is a link</a></p>
//
// Styleguide 1.2

h1 {
    font-weight : $font-weight-h1;
    color       : $font-color-h1;
}

h2 {
    font-weight : $font-weight-h2;
    color       : $font-color-h2;
}

h3 {
    font-weight : $font-weight-h3;
    color       : $font-color-h3;
}


h4 {
    font-weight : $font-weight-h4;
    color       : $font-color-h4;
}

.font-primary {
    font-weight : $font-weight-primary;
    color: $font-color-primary;
}

.font-secondary {
    font-weight : $font-weight-secondary;
    color: $font-color-secondary;
}

a {
    font-weight: 800;
    color: $brand-primary;
}

sm, small {
    @extend .font-primary;
    font-size: $font-size-sm;
    line-height: 1.1rem;
}

xs, xsmall {
    @extend .font-primary;
    font-size: $font-size-xs;
    line-height: 1.1rem;
}

.h1     { @extend h1;    }
.h2     { @extend h2;    }
.h3     { @extend h3;    }
.h4     { @extend h4;    }
.sm, .small { @extend sm; }
.xs, .xsmall { @extend xs; }
